.lista-abas {
    min-height: 20em;
    max-height: 26em;
}

.aling-left {
    justify-content: flex-start;
}

.checkbox-list-item  {
    position: relative;
}

.pt-01 {
    padding-top: 0.1rem;
}

.align-all-abas {
    margin-left: 1.6rem !important;
}