
<div *ngIf="recurso" class="tab-pane fade card rounded-0 pl-4 pr-4 pb-4 mt-4" [ngClass]="{ 'active show':true}">
    <div class="card border pl-3 pr-3 pb-3 pt-3" style="border-radius: 8px;">

        <div *ngIf="this.recurso" class="col-md-12 mt-3">
            <div fxLayout="row" fxLayoutAlign="center center" >
                <h5 class="card-title">{{getTituloCard()}}</h5>
            </div>
        </div>

        <div class="tab-content">
            <div class="tab-pane fade rounded-0" [ngClass]="{ 'active show':true}">
                <!-- Exibir Recurso de I.R(Inicio) -->
                <div>
                    <div *ngIf="recurso">
                        <div fxLayout="column" fxLayoutAlign="center start" class="pl-4 pb-1 pt-3 colorGreen">
                            <strong>
                                {{'LABEL_NUMERO_IMPUGNACAO_RESULTADO' | i18n}}{{impugnacao.numero}}
                            </strong>
                            <strong>
                                {{'LABEL_DATA_CADASTRO' | i18n}}{{recurso.dataCadastro | date:'dd/MM/yyyy' : '+0' }}
                                às {{recurso.dataCadastro | date:'HH:mm' : '+0'}}
                            </strong>
                        </div>

                        <div class="modal-body pt-1" style="height: 100%">
                            <div class="mb-5">
                                <card-panel [titulo]="getTituloDescricao()" class="mt-3">
                                    <editor-de-texto 
                                        [valor]="recurso.descricao" 
                                        [configuracao]="configuracaoCkeditor"
                                    >
                                    </editor-de-texto>
                                </card-panel>
                            </div>

                            <card-panel [titulo]="'LABEL_DOCUMENTO'" class="mt-3">
                                <div class="col-md-4 col-xs-12" style="padding-left: 0px;">
                                    <arquivo
                                        [maxArquivos]="1"
                                        [hasUpload]="false"
                                        [hasDownload]="true"
                                        [hasExclusao]="false"
                                        [arquivos]="arquivos"
                                        (download)="downloadArquivo($event)">
                                    </arquivo>
                                    <div class="col-md-4 col-xs-12"
                                        *ngIf="recurso?.nomeArquivo == '' || recurso?.nomeArquivo == undefined">
                                        <table class="table table-sm">
                                            <tbody>
                                                <td class="text-left pr-3 mt-3">
                                                    <span>{{ 'LABEL_NAO_APLICADO' | i18n }}</span>
                                                </td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </card-panel>
                            <div class="pt-3">
                                <button 
                                    class="btn btn-primary px-3 mr-3" 
                                    *ngIf="isMostrarCadastrarContrarrazao()" 
                                    (click)="cadastrarContrarrazao()"
                                >
                                    {{ 'LABEL_CADASTRAR_CONTRARRAZAO' | i18n }}
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Exibir Recurso de I.R(Fim) -->
            </div>
        </div>
    </div> 
</div>
<div class="row m-2 p-4 mb-4" *ngIf="!recurso">
    <div class="card-body bg-green border shadow">
        <div class="p-4">
            <div  *ngIf="!recurso" class="text-center">
                <div fxLayout="row" fxLayoutAlign="center center">
                  <b class="mt-4 mb-4" *ngIf="!isIES()">{{'LABEL_INTERPOSICAO_RECURSO' | i18n}}</b>
                  <b class="mt-4 mb-4" *ngIf="isIES()">{{'LABEL_INTERPOSICAO_RECONSIDERACAO' | i18n}}</b>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isMostrarContrarrazoes()" class="tab-pane fade card rounded-0 pl-4 pr-4 pb-4 mt-4" [ngClass]="{ 'active show':true}">
    <div class="card border pl-3 pr-3 pb-3 pt-3" style="border-radius: 8px;">
        <div class="tab-pane fade rounded-0 p-4" [ngClass]="{ 'active show':true}">
          
            <div class="col-md-12 mt-3">
                <div fxLayout="row" fxLayoutAlign="center center" >
                    <h5 class="card-title">{{ 'TITLE_CONTRARRAZAO_IMPUGNADO' | i18n }}</h5>
                </div>
            </div>
            <div *ngIf="hasContrarrazoes()">
                <list-impugnacao-resultado-contrarrazao 
                    [contrarrazoes]="recurso.contrarrazoesRecursoImpugnacaoResultado"
                    (contrarrazao)="abrirModal($event)"
                >
                </list-impugnacao-resultado-contrarrazao>
            </div>
            <div *ngIf="!hasContrarrazoes()">
                <div class="card-body bg-green border shadow">
                    <div class="text-center">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <b class="mt-4 mb-4">{{'LABEL_NAO_HOUVE_CADASTRO_CONTRARRAZAO' | i18n}}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
    
<!--Template modal de Cadastrar contrarrazão de I.R. -->
<ng-template #templateCadastroImpugnacaoResultadoContrarrazao>
    <modal-cadastro-impugnacao-resultado-contrarrazao 
        [cauUf]="bandeira" 
        [impugnacaoResultado]="impugnacao" 
        [recurso]="recurso"
        [readOnly]="false" 
        [isImpugnante]="false"
        (afterCancelar)="afterCancelarCadastroContrarrazao()" 
        (afterCadastrar)="afterCadastrarContrarrazao()" 
    >
    </modal-cadastro-impugnacao-resultado-contrarrazao>
</ng-template>

<!--Template modal de visualizar contrarrazão de I.R. -->
<ng-template #templatevisualizarImpugnacaoResultadoContrarrazao>
    <modal-cadastro-impugnacao-resultado-contrarrazao 
        [cauUf]="bandeira" 
        [impugnacaoResultado]="impugnacao" 
        [_contrarrazao]="contrarrazao"
        [readOnly]="true" 
        [isImpugnante]="true"
        (afterCancelar)="fecharModal()" 
        (afterCadastrar)="afterCadastrarContrarrazao()" 
    >
    </modal-cadastro-impugnacao-resultado-contrarrazao>
</ng-template>