<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-abas">

            <li class="nav-item pointer">
                <a class="nav-link" (click)="mudarAbaSelecionada( abas.abaVisaoGeral.id)"
                    [ngClass]="{ 'active': abas.abaVisaoGeral.ativa, 'isDisabled': chapaEleicao.id }">
                    {{ 'LABEL_VISAO_GERAL' | i18n }}
                </a>
            </li>

            <li class="nav-item pointer" *ngIf="chapaEleicao?.tipoCandidatura?.id">
                <a class="nav-link" (click)="mudarAbaSelecionada( abas.abaPlataformaEleitoral.id)"
                    [ngClass]="{ 'active': abas.abaPlataformaEleitoral.ativa }">
                    {{ 'LABEL_PLATAFORMA_ELEITORAL_REDES_SOCIAIS' | i18n }}
                </a>
            </li>

            <li class="nav-item pointer" *ngIf="chapaEleicao.id">
                <a class="nav-link" (click)="mudarAbaSelecionada( abas.abaMembrosChapa.id)"
                    [ngClass]="{ 'active': abas.abaMembrosChapa.ativa }">
                    {{'LABEL_MEMBROS_CHAPA' | i18n}}
                </a>
            </li>

            <li class="nav-item pointer" *ngIf="isAbaDeclaracaoVisivel()">
                <a class="nav-link" (click)="mudarAbaSelecionada( abas.abaDeclaracao.id)"
                    [ngClass]="{ 'active': abas.abaDeclaracao.ativa }">
                    {{'LABEL_DECLARACAO' | i18n}}
                </a>
            </li>

        </ul>

        <div class="tab-content">

            <div class="tab-pane fade" [ngClass]="{ 'active show': abas.abaVisaoGeral.ativa }" *ngIf="abas.abaVisaoGeral.ativa">
                <div class="col-md-12">
                    <i class="fa fa-desktop fa-2x m-2 pointer" aria-hidden="true"
                        (click)="mudarAbaSelecionada(abas.abaVisaoGeral.id)">
                    </i>
                </div>
                <progressbar-cadastro-chapa [chapaEleicao]="chapaEleicao" [eleicaoVigente]="eleicaoVigente"></progressbar-cadastro-chapa>
                <div class="box-separador"></div>
                <aba-visao-geral [chapaEleicao]="chapaEleicao" [eleicao]="eleicaoVigente" (avancar)="avancar($event)" (voltar)="voltar($event)"></aba-visao-geral>
            </div>

            <div class="tab-pane fade" [ngClass]="{ 'active show': abas.abaPlataformaEleitoral.ativa }" *ngIf="abas.abaPlataformaEleitoral.ativa">
                <div class="col-md-12">
                    <i class="fa fa-desktop fa-2x m-2 pointer" aria-hidden="true"
                    (click)="mudarAbaSelecionada(abas.abaVisaoGeral.id)">
                </i>
                </div>
                <progressbar-cadastro-chapa [chapaEleicao]="chapaEleicao" [eleicaoVigente]="eleicaoVigente"></progressbar-cadastro-chapa>
                <div class="box-separador"></div>
                <aba-plataforma-eleitoral-redes-sociais [(chapaEleicao)]="chapaEleicao" [eleicao]="eleicaoVigente" (avancar)="avancar($event)" (retroceder)="retroceder($event)" (cancelar)="cancelar()" (voltar)="voltar($event)"></aba-plataforma-eleitoral-redes-sociais>
            </div>

            <div class="tab-pane fade" [ngClass]="{ 'active show': abas.abaMembrosChapa.ativa }" *ngIf="abas.abaMembrosChapa.ativa">
                <div class="col-md-12">
                    <i class="fa fa-desktop fa-2x m-2 pointer" aria-hidden="true"
                        (click)="mudarAbaSelecionada(abas.abaVisaoGeral.id)">
                    </i>
                </div>
                <progressbar-cadastro-chapa [chapaEleicao]="chapaEleicao" [eleicaoVigente]="eleicaoVigente"></progressbar-cadastro-chapa>
                <div class="box-separador"></div>
                <!--

                -->
                <aba-membros-chapa [chapaEleicao]="chapaEleicao" [eleicao]="eleicaoVigente" (avancar)="avancar($event)" (cancelar)="cancelar()" (retroceder)="retroceder($event)" (voltar)="voltar($event)" ></aba-membros-chapa>
            </div>

            <div class="tab-pane fade" [ngClass]="{ 'active show': abas.abaDeclaracao.ativa }" *ngIf="abas.abaDeclaracao.ativa">
                <div class="col-md-12">
                    <i class="fa fa-desktop fa-2x m-2 pointer" aria-hidden="true"
                        (click)="mudarAbaSelecionada(abas.abaVisaoGeral.id)">
                    </i>
                </div>
                <progressbar-cadastro-chapa [chapaEleicao]="chapaEleicao" [eleicaoVigente]="eleicaoVigente"></progressbar-cadastro-chapa>
                <div class="box-separador"></div>
                <aba-declaracao [(chapaEleicao)]="chapaEleicao" [eleicao]="eleicaoVigente" (retroceder)="retroceder($event)" (cancelar)="cancelar()" (voltar)="voltar($event)" (avancar)="avancar($event)"></aba-declaracao>
            </div>

        </div>
    </div>
</div>

