.t-1 {
    padding: 0.7rem !important;
}
.icone {
    font-size: 30px;
}
.borda-tabela {
    border: 1px solid #919191;
    background-color: white;
    border-radius: 7px;
}
.bg-green {
    background-color: #E4F0F0;
    border: 1px;
}
.linha-1 {
    height:1px; 
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: black;
}
.linha-2 {
    height:1px; 
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: -2.3%;
    margin-right: -2.3%;
    background-color: black;
}