registry=https://pkgs.dev.azure.com/caubr/_packaging/caubr/npm/registry/ 
; email=jean.maia@caubr.gov.br
always-auth=true
; _auth="a2N4d3lsbmh6bXNjcmJqNHpuaHB6enRwZnA2MnR4cHp6dXhiNHcyaGp5YTZ2Y2Z0MjY2cQ=="
; begin auth token
//pkgs.dev.azure.com/caubr/_packaging/caubr/npm/registry/:username=caubr
//pkgs.dev.azure.com/caubr/_packaging/caubr/npm/registry/:_password=a2N4d3lsbmh6bXNjcmJqNHpuaHB6enRwZnA2MnR4cHp6dXhiNHcyaGp5YTZ2Y2Z0MjY2cQ==
//pkgs.dev.azure.com/caubr/_packaging/caubr/npm/registry/:email=jean.maia@caubr.gov.br
//pkgs.dev.azure.com/caubr/_packaging/caubr/npm/:username=caubr
//pkgs.dev.azure.com/caubr/_packaging/caubr/npm/:_password=a2N4d3lsbmh6bXNjcmJqNHpuaHB6enRwZnA2MnR4cHp6dXhiNHcyaGp5YTZ2Y2Z0MjY2cQ==
//pkgs.dev.azure.com/caubr/_packaging/caubr/npm/:email=jean.maia@caubr.gov.br
; end auth token