<!-- Voltar aba principal -->
<div class="col-md-2">
    <button type="button" class="btn btn-link p-0" (click)="voltarAbaPrincipal()" style="margin-top: 5px;">
        <h5 class="m-0"><i class="fa fa-reply text-primary"
            title="{{'LABEL_VOLTAR' | i18n}}"></i></h5>
    </button>
</div>

<div class="tab-content">
    <div class="tab-pane active show fade rounded-0">
        <div class="tab-pane fade pl-3 pr-3 pb-1 mt-3" id="tab-pane-julgamento" [ngClass]="{ 'active show': true}">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8 mt-4">
                    <div class="subtitle-line">
                        <span
                            class="bg-white">{{'TITLE_JULGAMENTO_FINAL_PRIMEIRA_INSTANCIA' | i18n}}</span>
                    </div>
                </div>
                <div class="col-md-2 mt-3 spinnerStatus">
                    <div *ngIf="isJulgamentoIndeferido()">
                        <div class="icons-title">
                            <i class="fa fa-spinner text-danger"></i>
                            <i class="fas fa-times text-danger"></i>
                        </div>

                        <div class="texto-titulo text-danger">{{ 'LABEL_INDEFERIDO' | i18n }}</div>
                    </div>
                    <div *ngIf="!isJulgamentoIndeferido()">
                        <div class="icons-title">
                            <i class="fa fa-spinner"></i>
                            <i class="fas fa-check"></i>
                        </div>
                        <div class="texto-titulo">{{ 'LABEL_DEFERIDO' | i18n }}</div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Label da Chapa -->
        <div class="row" style="margin-top: 2px; margin-left: 0px; margin-bottom: ‒14;">
            <div class="col-2">
                <span class="texto-titulo">{{ 'LABEL_UF' | i18n }} &nbsp;{{chapa.uf}}</span><br>
                <span class="texto-titulo">{{ 'LABEL_N_CHAPA' | i18n }}{{chapa.numeroChapa || "N/A"}}</span>
            </div>
        </div>
        <!-- Membros Indicados para Substituição -->
        <div class="tab-pane fade card rounded-0 pl-2 pr-2 pb-2" [ngClass]="{ 'active show':true}" *ngIf="isJulgamentoIndeferido()">
            <div class="card border pl-2 pr-2 pb-3 pt-3" style="border-radius: 8px mb-5;margin-top: 10px;">
                <card-panel [titulo]="'LABEL_MEMBRO_JULGAMENTO_FINAL'">
                    <card-julgamento-final
                        [temExcluir]="false"
                        [membrosSelecionados]="julgamentoFinal.indicacoes"
                        *ngIf="possuiIndicacao()">
                    </card-julgamento-final>
                    <div class="row" fxLayoutAlign="center center" *ngIf="!possuiIndicacao()">
                        <span class="texto-titulo pb-3 pt-3">{{ 'LABEL_SUBSTITUICAO_MEMBRO' | i18n}}</span> 
                    </div>
                </card-panel>
            </div>
        </div>
        <!-- Separador horizontal verde -->
        <div class="box-separador bg-primary font-white mt-5 mb-5" *ngIf="isJulgamentoIndeferido()">
            <div fxLayout="row" fxLayoutAlign="center center" style="color: white;">
                {{'TITLE_PARECER_JULGAMENTO_FINAL' | i18n}}
            </div>    
        </div>
        <!-- Parecer -->
        <div class="tab-pane fade card rounded-0 pl-2 pr-2 pb-2" [ngClass]="{ 'active show':true}">
            <div class="card border pl-2 pr-2 pb-3 pt-3" style="border-radius: 8px mb-5">
                <card-panel [titulo]="'LABEL_DESCRICAO'">
                    <editor-de-texto name="paracerJulgamento" id="paracerJulgamento"
                        [isHabilitado]="false"
                        [configuracao]="configuracaoCkeditor"
                        [valor]="julgamentoFinal.descricao"
                    >
                    </editor-de-texto>
                </card-panel>
                <!-- Documento -->
                <card-panel [titulo]="'LABEL_DOCUMENTO'" class="mt-3">
                    <div class="col-md-4 p-0">
                        <arquivo 
                            [hasDownload]="true" 
                            [arquivos]="julgamentoFinal.arquivos"
                            (download)="downloadArquivo($event)">
                        </arquivo>
                    </div>
                </card-panel>
                <!-- Botão recurso/substituição -->
                <div class="container" style="margin-left: 0px;">

                    <div class="row pl-2 pr-2 pb-3 pt-3">
                        <div *ngIf="isMostrarCadastroRecurso()">
                            <button class="btn btn-primary px-3 mr-3" (click)="abrirModalRecurso(templateRecurso)">
                                {{ 'LABEL_SOLICITAR_RECURSO_RECONSIDERACAO' | i18n:recursoReconsideracao}}
                            </button>
                        </div>

                        <div *ngIf="isMostrarCadastrarSubstituicao()">

                          <app-adicionar-substituicao-modal
                            [chapa]="chapa"
                            [idJulgamentoFinal]="julgamentoFinal.id"
                            [membrosPendencia]="julgamentoFinal.indicacoes"
                            [isPrimeiraInstancia]="true"
                            (fecharModalConfirmacaoSalvar)="redirecionarVisualizarSubstituicao($event)">
                          </app-adicionar-substituicao-modal>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Recurso do Julgamento -->
<ng-template #templateRecurso>
    <div class="modal-header border-header-green">
        <div class="col-md-12 text-center">
            <h6 class="modal-title pull-center" style="color: grey;">
                {{'LABEL_INTERPOR_RECURSO_RECONSIDERACAO' | i18n:titleModal()}}
            </h6>
        </div>
    </div>
    <div class="modal-body" style="height: 100%">
        
        <div class="mb-5" *ngIf="membros[0]">
            <card-panel [titulo]="titleSelecione" class="mt-3">
                <div class="row">
                    <div class="col-md-5 p-3">
                        <select class="form-control mr-1" (change)="getMembrosSelecionados($event)">
                            <option [value]="0" selected="selected">{{ 'LABEL_SELECIONE' | i18n }}</option>
                            <option *ngFor="let membro of membros" [value]="membro.id">
                                <div>
                                    <span *ngIf="!isConselheiroFederal(membro.numeroOrdem)">{{ membro.numeroOrdem }}</span> 
                                    <span *ngIf="isConselheiroFederal(membro.numeroOrdem)">{{ 'LABEL_FEDERAL' | i18n }}</span>
                                    - {{ membro.tipoParticipacaoChapa.descricao }} 
                                    - {{ membro.membroChapa.profissional.nome }}
                                </div>
                            </option>
                        </select>
                        <div class="text-danger" *ngIf="submitted && !hasProfissional()">{{ 'required' | i18n }}</div>
                    </div>
                    <div class="col-md-7 text-right p-3">
                        <i aria-hidden="true"
                            title="{{ 'MSG_LISTA_MEMBROS_PENDENCIA' | i18n }}"
                            class="fa fa-exclamation-circle text-alert icone-size primary mb-3">
                        </i>
                    </div>
                </div>
            </card-panel>
        </div>

        <div class="mb-5" *ngIf="hasMembrosSeleionadosRecurso()">
            <card-panel [titulo]="labelMembro" class="mt-3">
                <card-julgamento-final
                    [temExcluir]="true"
                    (excluirMembro)="excluirMembro($event)"
                    [membrosSelecionados]="membrosSelecionados">
                </card-julgamento-final>
            </card-panel>
        </div>
        <div class="mb-5" *ngIf="!hasMembrosSeleionadosRecurso() && hasIndicacoes()">
            <card-panel [titulo]="labelMembro" class="mt-3">
                <div class="tab-pane fade rounded-0 pl-4 pr-4 pb-2" [ngClass]="{ 'active show':true}">
                    <div class="mt-3">
                        <div class="alert border bg-white shadow margin">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <b class="mt-4 mb-4" *ngIf="!isIes">{{'MSG_NAO_HA_MEMBROS_INDICADOS_RECURSO' | i18n }}</b>
                                <b class="mt-4 mb-4" *ngIf="isIes">{{'MSG_NAO_HA_MEMBROS_INDICADOS_RECONSIDERACAO' | i18n }}</b>
                            </div>
                        </div>
                    </div>
                </div>
            </card-panel>
        </div>

        <div class="mb-5">
            <card-panel [titulo]="titleDescricao" class="mt-3">
                <editor-de-texto
                    [isRequerido]="true"
                    [isHabilitado]="true"
                    [tamanhoMaximo]="2000"
                    [isSubmetido]="submitted"
                    [valor]="recurso.descricao"
                    [isMostrarTamanhoTextoRestantes]="true"
                    (valorChange)="adicionarDescricao($event)">
                </editor-de-texto>
            </card-panel>
        </div>

        <card-panel [titulo]="'LABEL_DOCUMENTO'" class="mt-3">
            <arquivo 
                [maxArquivos]="1" 
                [hasUpload]="true"
                [hasDownload]="true" 
                [hasExclusao]="true"
                [isHabilitado]="true" 
                (salvarEvent)="salvarArquivos($event)" 
                [msgMaxArquivos]="'MSG_QTD_MAXIMA_UPLOAD_1'"
                (download)="downloadModalRecurso($event)">
            </arquivo>
        </card-panel>

        <div class="col-md-12 p-3">
            <button (click)="cancelarRecurso()"
                class="btn btn-danger px-3 mr-3">
                {{ 'LABEL_CANCELAR' | i18n }}
            </button>  
            <button 
            class="btn btn-primary px-3 mr-3"
                (click)="salvarRecurso()">
                {{ 'LABEL_CADASTRAR' | i18n }}
            </button>
        </div>
    </div>
</ng-template>

<ng-template #templateConfirmacao>
    <modal-confirm
        [isModalConfirmOk]="true"
        [titulo]="titleModalconfirmacao()"
        [descricao]="msgConfirmacao()"
        (confirmar)="redirecionarVisualizarRecurso($event)">
    </modal-confirm>
</ng-template>