<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="nav-item pointer">
                <a class="nav-link" [ngClass]="{ 'active': false}" [routerLink]="['/']">{{'LABEL_VISAO_GERAL' | i18n}}
                </a>
            </li>
            <li class="nav-item pointer">
                <a class="nav-link" [ngClass]="{ 'active':true }">
                    {{'LABEL_ACOMPANHAR_DENUNCIA' | i18n}}
                </a>
            </li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane fade card rounded-0" [ngClass]="{ 'active show':true}">
                <div class="col-md-12">
                    <button type="button" class="btn btn-link p-0" [routerLink]="['/']">
                        <h5 class="m-0">
                            <i class="fa fa-desktop fa-2x m-2 pointer colorGray" aria-hidden="true"></i>
                        </h5>
                    </button>
                </div>

                <div class="box-separador bg-primary"></div>

                <div class="tab-pane bg-white p-5 card rounded-0" [ngClass]="{ 'active show':true}">

                    <ul class="nav nav-tabs">
                        <li class="nav-item pointer">
                            <a class="nav-link tab-item text-primary"
                                (click)="mudarAbaSelecionada(abas.minhasDenuncias.id)"
                                [ngClass]="{ 'active': abas.minhasDenuncias.ativa }">{{'LABEL_DENUNCIAS' | i18n}}
                            </a>
                        </li>
                        <li class="nav-item pointer">
                            <a class="nav-link tab-item text-primary"
                                (click)="mudarAbaSelecionada(abas.denunciasRecebidas.id)"
                                [ngClass]="{ 'active': abas.denunciasRecebidas.ativa }"
                                *ngIf="denunciasUF.isCoordenadorCEN || denunciasUF.isCoordenadorCE">
                                {{'LABEL_DENUNCIA_ADMISSIBILIDADE' | i18n}}
                            </a>
                        </li>
                        <li class="nav-item pointer">
                            <a class="nav-link tab-item text-primary"
                                (click)="mudarAbaSelecionada(abas.denunciasRelatoria.id)"
                                [ngClass]="{ 'active': abas.denunciasRelatoria.ativa }"
                                *ngIf="denunciasUF.isMembroComissaoComum && !denunciasUF.isCoordenadorCEN && !denunciasUF.isCoordenadorCE">
                                {{'LABEL_DENUNCIAS_PARA_RELATORIA' | i18n}}
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade" [ngClass]="{ 'active show': abas.minhasDenuncias.ativa }"
                            *ngIf="abas.minhasDenuncias.ativa">
                            <div *ngIf="denunciasUF.agrupamentoUF.length === 0"
                                class="bg-green alert mt-5 text-center border-bottom">
                                <h6><u>{{'MSG_NAO_HA_DENUNCIAS' |i18n}}</u></h6>
                            </div>
                            <div class="card border pl-5 pr-5 pb-5 pt-4" style="border-radius: 8px;"
                                *ngIf="denunciasUF.agrupamentoUF.length > 0">
                                <div class="card-body bg-green pl-5 pr-5" style="border-radius: 8px;">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <table [mfData]="denunciasUF.agrupamentoUF" #mf="mfDataTable"
                                                [mfRowsOnPage]="limitePaginacao" class="col-md-12">
                                                <thead>
                                                    <tr class="green-font-bolder">
                                                        <th class="text-center tb-width-10"> {{'LABEL_ESTADO' |i18n}}
                                                        </th>
                                                        <th class="text-center tb-width-10">
                                                            {{'LABEL_QUANTIDADE_PEDIDOS_DENUNCIA' |i18n}}
                                                        </th>
                                                        <th class="text-center tb-width-10"> {{'LABEL_ACAO' |i18n}}
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let denunciaUF of mf.data;"
                                                        class="td-cauf list-item list-item-card">
                                                        <td class="text-center p-2 tb-width-10">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div
                                                                        class="text-left title-comissao green-font ml-5">
                                                                        <img class="img-fluid rounded-circle img-bandeira mr-1"
                                                                            src="{{ denunciaUF.imagemBandeira }}"
                                                                            alt="{{ denunciaUF.descricao }}"
                                                                            title="{{ denunciaUF.descricao }}"> {{ denunciaUF.descricao
                                                                        }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="text-center p-2 tb-width-10">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    {{ denunciaUF.qtd_pedido }}
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="text-center p-2 tb-width-10"
                                                            (mouseleave)="dp.hide()">
                                                            <div class="btn-group" dropdown triggers="hover"
                                                                #dp="bs-dropdown">
                                                                <button dropdownToggle type="button"
                                                                    class="btn btn-link text-muted"
                                                                    aria-controls="dropdown-basic">
                                                                    <i class="align-middle colorAcao fas fa-ellipsis-v"
                                                                        aria-hidden="true"></i>
                                                                </button>
                                                                <ul id="dropdown-basic" *dropdownMenu
                                                                    class="dropdown-menu" role="menu"
                                                                    aria-labelledby="button-basic">
                                                                    <li role="menuitem">
                                                                        <a href="#"
                                                                            (click)="visualizar(denunciaUF.id_cau_uf)"
                                                                            class="dropdown-item" [routerLink]="null"
                                                                            title="{{'LABEL_VISUALIZAR' | i18n}}">
                                                                            {{'LABEL_VISUALIZAR' | i18n}}
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="7" class="col-12"
                                                            *ngIf="denunciasUF.agrupamentoUF.length > 0">
                                                            <div class="mt-3 col-md-12 pr-0 mr-0">
                                                                <app-mfBootstrapPaginator [mfTable]="mf"
                                                                    class="float-right">
                                                                </app-mfBootstrapPaginator>
                                                            </div>
                                                        </td>
                                                        <td colspan="7" class="col-12"
                                                            *ngIf="denunciasUF.agrupamentoUF.length == 0">
                                                            <div class="text-center">
                                                                {{'LABEL_NENHUM_REGISTRO_ENCONTRADO' |i18n}}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>

                                            <div class="row pt-3 pb-3">
                                                <div class="col-md-6 align-items-right form-inline green-font-bolder">
                                                    <div>
                                                        <span>{{ 'LABEL_TOTAL_PEDIDOS_DENUNCIA' | i18n }}: </span>
                                                        {{denunciasUF.totalPedidos}}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" [ngClass]="{ 'active show': abas.denunciasRecebidas.ativa }"
                            *ngIf="abas.denunciasRecebidas.ativa">
                            <div *ngIf="denunciasRecebidas.length === 0"
                                class="bg-green alert mt-5 text-center border-bottom">
                                <h6><u>{{'MSG_NAO_HA_DENUNCIAS_RECEBIDAS' |i18n}}</u></h6>
                            </div>
                            <aba-lista-denuncias-admissibilidade [denunciasRecebidas]="denunciasRecebidas"
                                *ngIf="denunciasRecebidas.length > 0"></aba-lista-denuncias-admissibilidade>
                        </div>
                        <div class="tab-pane fade" [ngClass]="{ 'active show': abas.denunciasRelatoria.ativa }"
                            *ngIf="abas.denunciasRelatoria.ativa">
                            <div *ngIf="denunciasRelatoria.length === 0"
                                class="bg-green alert mt-5 text-center border-bottom">
                                <h6><u>{{'MSG_NAO_ENCONTRADAS_DENUNCIAS_ATUAL_RELATOR' |i18n}}</u></h6>
                            </div>
                            <aba-lista-denuncias [denunciasRecebidas]="denunciasRelatoria" acompanharDenuncia="relatoria"
                                *ngIf="denunciasRelatoria.length > 0"></aba-lista-denuncias>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>