<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between stretch" fxLayoutGap="20px">
    <div fxFlex>
        <div class="card cau-box">
            <div class="card-body">

                <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between stretch"
                    class="mt-2 mb-2">
                    <div fxFlex class="h5 text-muted">{{ 'LABEL_RESULTADO_PESQUISA' | i18n }}</div>
                    <div fxFlex="200px" fxFlex.xs="100%" fxFlex.sm="100%">
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="search"
                            placeholder="{{'LABEL_BUSCAR' |i18n}}" (ngModelChange)="filter($event)" maxlength="50">
                    </div>
                </div>
                <table class="table table-striped" [mfData]="eleicoes" #mf="mfDataTable" [mfRowsOnPage]="10"
                    *ngIf="eleicoes">
                    <thead>
                        <tr>
                            <th class="text-center">
                                <mfDefaultSorter by="ano">{{ 'LABEL_ANO' | i18n }}</mfDefaultSorter>
                            </th>
                            <th class="text-center">
                                <mfDefaultSorter by="descricao">{{ 'LABEL_ELEICAO' | i18n }}</mfDefaultSorter>
                            </th>
                            <th class="text-center">
                                <mfDefaultSorter by="descricaoTipoProcesso">{{ 'LABEL_TIPO_PROCESSO' | i18n }}
                                </mfDefaultSorter>
                            </th>
                            <th class="text-center">
                                <mfDefaultSorter by=" idResolucao">{{ 'LABEL_RESOLUCAO' | i18n }}</mfDefaultSorter>
                            </th>
                            <th class="text-center">
                                <mfDefaultSorter by="descricaoSituacaoEleicao">{{ 'LABEL_STATUS' | i18n }}</mfDefaultSorter>
                            </th>
                            <th class="text-center tb-width-10">{{ 'LABEL_ACAO' | i18n }}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of mf.data;">
                            <td class="text-center">{{ item.eleicao.ano }}</td>
                            <td class="text-center">{{ item.eleicao.descricao }}</td>
                            <td class="text-center">{{ item.eleicao.tipoProcesso.descricao }}</td>
                            <td class="text-center">
                                <download title=" {{item.resolucao}}" class="center-no-arquivo"
                                    [download]="item.resolucao" (process)="downloadResolucao($event, item.idResolucao)">
                                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                </download>
                            </td>
                            <td class="text-center colorTriangle" *ngIf="item.idSituacaoEleicao == 1">
                                <i class="align-middle fas fa-exclamation-triangle"></i>
                                {{ item.descricaoSituacaoEleicao }}
                            </td>
                            <td class="text-center colorCircleM" *ngIf="item.idSituacaoEleicao == 2">
                                <i class="align-middle fas fa-minus-circle"></i> {{ item.descricaoSituacaoEleicao }}
                            </td>
                            <td class="text-center colorCircle" *ngIf="item.idSituacaoEleicao == 3">
                                <i class="align-middle fas fa-check-circle"></i> {{ item.descricaoSituacaoEleicao }}
                            </td>
                            <td class="text-center colorCircleM" *ngIf="item.idSituacaoEleicao == undefined">
                                <i class="align-middle fas fa-minus-circle"></i> {{ item.descricaoSituacaoEleicao }}
                            </td>
                            <td class="text-center">
                                <div class="btn-group" dropdown triggers="hover" (mouseleave)="dp.hide()"
                                    #dp="bs-dropdown">
                                    <button dropdownToggle type="button" class="btn btn-link text-muted"
                                        aria-controls="dropdown-basic">
                                        <i class="align-middle colorAcao fas fa-ellipsis-v" aria-hidden="true"></i>
                                    </button>
                                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                        aria-labelledby="button-basic">
                                        <li role="menuitem" *ngIf="item.isInformacaoParametrizada">
                                            <a href="#" class="dropdown-item" title="{{'LABEL_CADASTRAR' |i18n}}"
                                                routerLink="{{item.id}}/cadastrar">{{'LABEL_CADASTRAR' |i18n}}</a>
                                        </li>
                                        <li role="menuitem">
                                            <a href="#" class="dropdown-item" title="{{'LABEL_ALTERAR' |i18n}}"
                                                routerLink="{{item.id}}/alterar">{{'LABEL_ALTERAR' |i18n}}</a>
                                        </li>
                                        <li role="menuitem">
                                            <a href="#" class="dropdown-item" title="{{'LABEL_VISUALIZAR' |i18n}}"
                                                routerLink="{{item.id}}/visualizar">{{'LABEL_VISUALIZAR' |i18n}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6" class="col-12">
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <div *ngIf="quantidadeEleicoes > 0" fxFlex fxLayoutAlign="start center">
                                        {{'LABEL_QUANTIDADE_CALENDARIOS' |i18n}}
                                        {{quantidadeEleicoes}}</div>

                                    <div *ngIf="quantidadeEleicoes == 0" fxFlex fxLayoutAlign="center center">
                                        {{'LABEL_NENHUM_REGISTRO_ENCONTRADO' |i18n}}</div>

                                    <div *ngIf="quantidadeEleicoes > 0" fxFlex fxLayoutAlign="end center">
                                        <mfBootstrapPaginator></mfBootstrapPaginator>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>

                <div *ngIf="showMessageFilter">
                    <span>{{'LABEL_TABLE_FILTRO_VAZIO' |i18n}}</span>
                </div>

            </div>
        </div>
    </div>

    <div fxFlex="350px" fxFlex.xs="100%">
        <div class="card cau-box p-3">

            <div class="row bg-secondary m-1 p-1">
                <div class="col-md-12">
                    <i class="fas fa-filter" aria-hidden="true"></i>
                    <span class="h4">{{'LABEL_FILTROS' |i18n}}</span>
                </div>
            </div>

            <div class="row ml-1">
                <div class="col-sm pl-0">
                    <a (click)="limpar($event)" [routerLink]="null" class="text-muted pl-0"
                        title="{{'LABEL_LIMPAR' |i18n}}">
                        <i class="fas fa-bars" aria-hidden="true"></i>
                        <span>{{'LABEL_LIMPAR' |i18n}}</span>
                    </a>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <label>{{'LABEL_ANO_ELEICAO' |i18n}}</label>
                    <select class="form-control" id="" name="" [(ngModel)]="anoEleicaoFiltro"
                        (change)="geraComboEleicaoFiltro($event)">
                        <option value="">{{'LABEL_SELECIONAR' |i18n}}</option>
                        <option *ngFor="let anoEleicao of anosEleicao" value="{{anoEleicao.ano}}">
                            {{anoEleicao.ano}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <label>{{'LABEL_SELECT_ELEICAO' |i18n}}</label>
                    <select [disabled]="!anoEleicaoFiltro" class="form-control" id="" [(ngModel)]="eleicaoFiltro">
                        <option value="">{{'LABEL_SELECIONAR' |i18n}}</option>
                        <option *ngFor=" let eleicaoPorAno of eleicoesPorAno" value="{{eleicaoPorAno.id}}">
                            {{eleicaoPorAno.eleicao.descricao}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <label for="tipoProcesso">{{'LABEL_TIPO_PROCESSO' |i18n}}</label>
                    <select class="form-control" id="tipoProcesso" [(ngModel)]="tipoProcessoFiltro" name="tipoProcesso">
                        <option value="">{{'LABEL_SELECIONAR' |i18n}}</option>
                        <option *ngFor=" let tipo of tipoProcessos" value="{{tipo.id}}">
                            {{tipo.descricao}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 text-center">
                    <button type="button" class="btn btn-primary" (click)="pesquisar()"
                        title=" {{'LABEL_PESQUISAR' |i18n}}">
                        {{'LABEL_PESQUISAR' |i18n}}
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>