<div class="text-center py-3 cor-corpo">
    <i class="fa fa-reply fa-2x float-left pointer" (click)="voltar.emit(isCamposAlterados())" aria-hidden="true"></i>
    <span class="subtitle-lines" *ngIf="isPlataformaEleitoralUfBr()">{{ 'LABEL_CADASTRAR_PLATAFORMA_ELEITORAL_UF' | i18n }}</span>
    <span class="subtitle-lines" *ngIf="isPlataformaEleitoralIes()">{{ 'LABEL_CADASTRAR_PLATAFORMA_ELEITORAL_IES' | i18n }}</span>
</div>

<div class="row m-2">
    <div class="col-md-12">
        <div class="box-destaque shadow mt-4 mb-4">
            <ckeditor name="dsPlataforma" id="dsPlataforma" #descricaoPlataforma="ngModel"
                (ready)="onRedyCKDescricaoPlataforma($event)"
                [readOnly]="isDescricaoPlataformaDesabilitada()"
                [(ngModel)]="chapaEleicao.descricaoPlataforma" [disabled]="isDescricaoPlataformaDesabilitada()"
                [config]="configuracaoCkeditor" required>
            </ckeditor>

            <validation-message [for]="descricaoPlataforma" [submitted]="submitted">
            </validation-message>
        </div>
    </div>
</div>

<div class="box-separador mt-4"></div>

<div class="text-center py-3 cor-corpo">
    <span class="subtitle-lines">{{ 'LABEL_CADASTRAR_MEIOS_OFICIAIS_PROPAGANDAS' | i18n }}</span>
</div>

<div class="row m-2">
    <div class="col-md-12">
        <div class="box-destaque shadow mt-4 mb-4">

            <div class="row my-2" *ngFor="let redeSocial of redesSociaisChapaFixas; let index = index;">
              
                <div class="col-md-1">
                    <i [ngClass]="redeSocial.icone" aria-hidden="true"></i>
                </div>

                <div class="col-md-10" *ngIf="isDescricaoRedeSocialVisivel(redeSocial)">
                    <input type="text" class="form-control form-control-sm" name="rede-social-{{ index }}"
                        [(ngModel)]="redeSocial.descricao" [disabled]="isdescricaoRedeSocialDesabilitada(redeSocial)"
                        maxlength="100"
                    >
                </div>

                <div class="col-md-1">
                    <ui-switch class="pl-2 btn-sm" title="{{ 'LABEL_ATIVAR' | i18n }}" name="toggleRedeSocial"
                        [(ngModel)]="redeSocial.isAtivo" [disabled]="isSwitchRedeSocialDesabilitada()">
                    </ui-switch> 
                </div>
            </div>

            <div class="row my-2">
                <div class="col-md-1">
                    {{ 'LABEL_OUTROS' | i18n }}
                </div>

                <div class="col-md-2">
                    <ui-switch class="pl-2" title="{{ 'LABEL_ATIVAR' | i18n }}" name="toggleOutros"
                        [disabled]="isRedesSociaisChapaOutrasDesabilitada()"
                        [(ngModel)]="redesSociaisChapaOutrasAtiva">
                    </ui-switch>
                </div>

                <div class="col-md-12" *ngIf="isRedesSociaisChapaOutrasVisivel(redesSociaisChapaOutras)">
                    <div class="row my-2" *ngFor="let outro of redesSociaisChapaOutras; let indice = index;">
                        <div class="col-md-9 offset-md-1">
                            <input 
                                type="text" 
                                class="form-control form-control-sm" 
                                name="link-outro"
                                [(ngModel)]="outro.descricao" 
                                [disabled]="isRedesSociaisChapaOutrasDescricaoDesabilitada()"
                                maxlength="100"
                            >
                        </div>

                        <div class="col-md-2" *ngIf="isAlterarChapa">
                            <i class="fa fa-2x fa-plus-circle pointer" aria-hidden="true" (click)="addOutraRedeSocial()"></i>
                            <i class="fa fa-2x fa-times pointer" aria-hidden="true" *ngIf="indice > 0" (click)="removeOutraRedeSocial(indice)"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!isAlterarChapa && isUsuarioEditor" class="col-md-12 py-4 cor-corpo">  
    <button  class="btn btn-danger mr-4" (click)="alterarChapa()">
        {{ 'LABEL_ALTERAR' | i18n }}
    </button>
</div>
<div *ngIf="isAlterarChapa && isUsuarioEditor" class="col-md-12 py-4 cor-corpo">  
    <button (click)="confirmarAlteracaoChapa()" class="btn btn-primary mr-4">
        {{ 'LABEL_SALVAR' | i18n }}
    </button>
    <button  (click)="cancelarAlteracaoChapa()" class="btn btn-danger mr-4">
        {{ 'LABEL_CANCELAR' | i18n }}
    </button>
</div>

<ng-template #templateInformativoChapaEleitoralModal>
    <div class="card text-center">

        <div class="card-body">

            <div class="box-destaque texto-destaque shadow">
                <p>
                    <span [innerHtml]="getMensagemInformativoEleicaoChapa()"></span>
                    <download title="{{ resolucao.nomeFisico | uppercase }}" class="center-no-arquivo pointer p-0"
                        [download]="resolucao.nomeFisico" (process)="downloadResolucao($event, resolucao)">
                        {{ resolucao.nomeFisico | uppercase }}
                    </download>
                </p>

                <p>{{ 'MSG_INFORMATIVO_ATUALIZACAO_CHAPA_ELEITORAL' | i18n }}</p>
            </div>
        </div>

        <div class="card-footer bg-transparent">
            <div class="col-md-4 offset-md-4">
                <button type="button" class="btn btn-sm btn-primary btn-block btn-calendario" (click)="fecharInformativoEleicaoChapa()">
                    {{ 'LABEL_OK' | i18n }}
                </button>
            </div>
        </div>
    </div>
</ng-template>
