<div class="header">
    <h1 class="header-title">
        <i class="fa fa-wpforms" style="margin-right: 10px; font-size: 30px" aria-hidden="true"></i>
        {{ 'LABEL_PUBLICAR_COMISSAO_ELEITORAL' | i18n }}
    </h1>
</div>

<div class="container-grid">
    <div class="row">
        <div class="col-md-9 col-sm-9">
            <div class="card card-box-shadow">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card-body">

                                <div *ngIf="!exibirMsgFiltroVazio">
                                    <div class="mt-2 mb-2 row">
                                        <div class="col-md-8 div-left div-font-weight mt-3">
                                            <span class="h5 text-muted"> {{ 'LABEL_RESULTADO_PESQUISA' | i18n }} </span> 
                                        </div>

                                        <div class="col-md-4 div-right mt-3">
                                            <input type="text" class="form-control largura-campo" [(ngModel)]="search"
                                                placeholder="{{ 'LABEL_BUSCAR' | i18n }}"
                                                (ngModelChange)="filtroGrid($event)" maxlength="50">
                                        </div>
                                    </div>


                                    <table class="table table-striped" [mfData]="documentosPublicadosExibicao"
                                        #mf="mfDataTable" [mfRowsOnPage]="numeroRegistrosPaginacao"
                                        *ngIf="documentosPublicadosExibicao && !exibirMsgFiltroVazio">
                                        <thead>
                                            <tr>
                                                <th class="text-center tb-width-10">
                                                    <mfDefaultSorter by="calendario.eleicao.ano">
                                                        {{ 'LABEL_ANO' | i18n }}
                                                    </mfDefaultSorter>
                                                </th>
                                                <th class="text-center tb-width-20">
                                                    <mfDefaultSorter by="calendario.eleicao.descricao">
                                                        {{ 'LABEL_ELEICAO' | i18n }}
                                                    </mfDefaultSorter>
                                                </th>
                                                <th class="text-center tb-width-20">
                                                    <mfDefaultSorter by="calendario.eleicao.tipoProcesso.descricao">
                                                        {{ 'LABEL_TIPO_PROCESSO' | i18n }}
                                                    </mfDefaultSorter>
                                                </th>
                                                <th class="text-center tb-width-30">
                                                    <mfDefaultSorter by="calendario.resolucao">
                                                        {{ 'LABEL_RESOLUCAO' | i18n }}
                                                    </mfDefaultSorter>
                                                </th>
                                                <th class="text-center tb-width-30">
                                                    <mfDefaultSorter by="calendario.descricaoSituacao">
                                                        {{ 'LABEL_STATUS_ELEICAO' | i18n }}
                                                    </mfDefaultSorter>
                                                </th>
                                                <th class="text-center tb-width-30">
                                                    <mfDefaultSorter by="descricaoPublicado">
                                                        {{ 'LABEL_PUBLICADO' | i18n }}
                                                    </mfDefaultSorter>
                                                </th>
                                                <th class="text-center tb-width-10">
                                                    {{ 'LABEL_ACAO' | i18n }}
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr *ngFor="let documento of mf.data;">
                                                <td class="text-center tb-width-10">
                                                    {{ documento.calendario.eleicao?.ano }}
                                                </td>
                                                <td class="text-center tb-width-10">
                                                    {{ documento.calendario.eleicao?.descricao }}
                                                </td>
                                                <td class="text-center tb-width-20">
                                                    {{ documento.calendario.eleicao?.tipoProcesso.descricao }}
                                                </td>
                                                <td class="text-center tb-width-20">
                                                    <download title="{{ documento.calendario.resolucao }}"
                                                        class="center-no-arquivo"
                                                        [download]="documento.calendario.resolucao"
                                                        (process)="downloadResolucao($event, documento.calendario.idResolucao)">
                                                        <i class="fa fa-file-pdf-o pointer" aria-hidden="true"></i>
                                                    </download>
                                                </td>
                                                <td class="text-center tb-width-20">

                                                    <span class="text-center tb-width-30 colorTriangle"
                                                        *ngIf="documento.calendario.idSituacao == 1">
                                                        <i class="align-middle fas fa-exclamation-triangle"></i>
                                                        {{ documento.calendario.descricaoSituacao }}
                                                    </span>

                                                    <span class="text-center tb-width-30 colorCircle"
                                                        *ngIf="documento.calendario.idSituacao == 2">
                                                        <i class="align-middle fas fa-check-circle"></i>
                                                        {{ documento.calendario.descricaoSituacao }}
                                                    </span>

                                                    <span class="text-center tb-width-30 colorCircleM"
                                                        *ngIf="documento.calendario.idSituacao == 3">
                                                        <i class="align-middle fas fa-minus-circle"></i>
                                                        {{ documento.calendario.descricaoSituacao }}
                                                    </span>

                                                    <span class="text-center tb-width-30 colorCircleM"
                                                        *ngIf="documento.calendario.idSituacao == undefined">
                                                        <i class="align-middle fas fa-minus-circle"></i>
                                                        {{ documento.calendario.descricaoSituacao }}
                                                    </span>

                                                </td>
                                                <td class="text-center tb-width-10">
                                                    <span
                                                        [ngClass]="{ 'text-danger': documento.totalPublicacoes == 0 }">
                                                        {{ documento.descricaoPublicado }}
                                                    </span>
                                                </td>
                                                <td class="text-center tb-width-10">
                                                    <div class="btn-group" dropdown triggers="hover"
                                                        (mouseleave)="dp.hide()" #dp="bs-dropdown">
                                                        <button dropdownToggle type="button"
                                                            class="btn btn-link text-muted"
                                                            aria-controls="dropdown-basic">
                                                            <i class="align-middle colorAcao fas fa-ellipsis-v"
                                                                aria-hidden="true"></i>
                                                        </button>
                                                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                                            role="menu" aria-labelledby="button-basic">
                                                            <li role="menuitem">
                                                                <a href="#" class="dropdown-item"
                                                                    title="{{'LABEL_VISUALIZAR' |i18n}}"
                                                                    [routerLink]="getUrlVisualizarPublicacao(documento.id)">{{'LABEL_VISUALIZAR' |i18n}}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>

                                        <tfoot>
                                            <tr>
                                                <td colspan="7" class="col-12"
                                                    *ngIf="getTotalRegistrosCalendario() > 0">
                                                    <paginacao [paginaAtual]="mf.activePage"
                                                        [totalPorPagina]="numeroRegistrosPaginacao"
                                                        [totalRegistros]="getTotalRegistrosCalendario()">
                                                    </paginacao>
                                                </td>
                                                <td colspan="7" class="col-12"
                                                    *ngIf="getTotalRegistrosCalendario() == 0">
                                                    <div class="text-center">
                                                        {{'LABEL_NENHUM_REGISTRO_ENCONTRADO' |i18n}}
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>

                                <div class="div-tabela-vazia text-center" *ngIf="exibirMsgFiltroVazio">
                                    <span class="tabela-vazio">{{ 'LABEL_TABLE_FILTRO_VAZIO' | i18n }}</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3" id='div-filtro'>
            <div class="card card-box-shadow p-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-filtro">
                            <i class="fas fa-filter" aria-hidden="true"></i>
                            <span class="h4">{{ 'LABEL_FILTROS' | i18n }}</span>
                        </div>
                    </div>
                </div>

                <div class="row action-filtro">
                    <div class="col-sm">
                        <a class="remove-link" href="#" (click)="limpar($event)" title="{{'LABEL_LIMPAR' |i18n}}">
                            <i class="fas fa-bars" aria-hidden="true"></i>
                            <span>{{ 'LABEL_LIMPAR' | i18n }}</span>
                        </a>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <label>{{ 'LABEL_ANO_ELEICAO' | i18n }}</label>
                        <a class="float-right"
                            title="{{ 'MSG_EXIBICAO_CALENDARIOS_PARAMETRIZADOS_CONCLUIDOS' | i18n }}"><i
                                class="align-middle fas fa-exclamation-circle colorCircle" aria-hidden="true"></i></a>
                        <ng-multiselect-dropdown placeholder="{{'LABEL_SELECIONAR' | i18n }}" [data]="anosEleicao"
                            [(ngModel)]="filtro.anosEleicaoFiltro" [settings]="configuracaoDropdownAnoEleicao"
                            (onSelect)="selecaoAnoEleicao($event)" (onSelectAll)="selecaoTodosAnosEleicao()"
                            (onDeSelect)="deselecionarAnoEleicao($event)"
                            (onDeSelectAll)="deselecionarTodosAnoEleicao()" title="{{ 'LABEL_ANO_ELEICAO' | i18n }}">
                        </ng-multiselect-dropdown>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <label>{{'LABEL_SELECT_ELEICAO' |i18n}}</label>
                        <ng-multiselect-dropdown placeholder="{{ 'LABEL_SELECIONAR' | i18n }}"
                            [data]="calendariosAnoSelecionado" [(ngModel)]="filtro.eleicoesFiltro"
                            [settings]="configuracaoDropdownEleicao" title="{{ 'LABEL_SELECT_ELEICAO' | i18n }}"
                            [disabled]="isFiltroEleicaoDesabilitado()">
                        </ng-multiselect-dropdown>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <label>{{ 'LABEL_TIPO_PROCESSO' | i18n }}</label>
                        <ng-multiselect-dropdown placeholder="{{ 'LABEL_SELECIONAR' | i18n }}" [data]="tipoProcessos"
                            [(ngModel)]="filtro.tipoProcessoFiltro" [settings]="configuracaoDropdownTipoProcesso"
                            title="{{ 'LABEL_TIPO_PROCESSO' | i18n }}">
                        </ng-multiselect-dropdown>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <label>{{ 'LABEL_PUBLICADO' | i18n }}</label>
                        <ng-multiselect-dropdown placeholder="{{ 'LABEL_SELECIONAR' | i18n }}"
                            [data]="getOpcoesPublicado()" [(ngModel)]="filtro.publicadoFiltro"
                            [settings]="configuracaoDropdownPublicacao" title="{{ 'LABEL_PUBLICADO' | i18n }}">
                        </ng-multiselect-dropdown>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <button type="button" class="btn btn-primary btn-calendario my-3" (click)="pesquisar()"
                            title=" {{'LABEL_PESQUISAR' |i18n}}">
                            {{'LABEL_PESQUISAR' |i18n}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
