<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="nav-item pointer">
                <a  href="/" class="nav-link no-wrap-title-aba" [ngClass]="{ 'active': false}">{{'LABEL_VISAO_GERAL' | i18n}}
                </a>
            </li>
            <li class="nav-item pointer">
                <a class="nav-link wrap-title-aba" [ngClass]="{ 'active':true }">
                    <div class="aba" [innerHTML]="getTituloAbaAcompanharChapa()"></div>
                </a>
            </li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane fade card rounded-0" [ngClass]="{ 'active show':true}">
                <div class="col-md-12">
                    <i class="fa fa-desktop fa-2x m-2 pointer font-color-bg-primary" aria-hidden="true"></i>
                </div>
                <div class="col-md-12">
                    <h5 class="card-title colorGray">
                        <a class="pointer" (click)="voltar()">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        </a>
                    </h5>
                </div>
                <div class="box-separador bg-primary"></div>


                <div class="text-center title-comissao green-font-bolder mb-3 mt-3">
                    <img class="img-fluid rounded-circle img-bandeira" [src]="imagemBandeira.imagem"
                        style="margin-right: 5px;">
                    {{ imagemBandeira.sigla.replace("CAU", "CE")}}
                </div>

                <div class="tab-pane fade card rounded-0 pl-4 pr-4 pb-4" [ngClass]="{ 'active show':true}">

                    <div class="card border pl-5 pr-5 pb-5 pt-4" style="border-radius: 8px;">
                        <div class="card-body bg-green pl-5 pr-5" style="border-radius: 8px;">


                            <div class="row pt-3 pb-3">
                                <div class="col-md-6 align-items-right form-inline green-font-bolder">
                                    <div>
                                        <span>{{ 'LABEL_MOSTRAR' | i18n }}: </span>
                                        <select class="form-control" [(ngModel)]="limitePaginacao"
                                            [name]="limitePaginacao">
                                            <option *ngFor="let item of limitesPaginacao" [ngValue]="item">
                                                {{ item }}
                                            </option>
                                        </select>
                                        <span> {{ 'LABEL_REGISTRO' | i18n}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6 align-items-left">
                                    <div class="div-right">
                                        <input type="text" class="form-control largura-campo" [(ngModel)]="search"
                                            placeholder="{{'LABEL_BUSCAR' |i18n}}" (ngModelChange)="filter($event)"
                                            maxlength="50">
                                    </div>
                                </div>
                            </div>

                            <table [mfData]="pedidos" #mf="mfDataTable" *ngIf="pedidos" [mfRowsOnPage]="limitePaginacao"
                                class="w-100">
                                <thead *ngIf="pedidos.length != 0">
                                    <tr class="green-font-bolder">
                                        <th class="text-center tb-width-10"> {{'LABEL_NUM_CHAPA' |i18n}} </th>
                                        <th class="text-center tb-width-10"> {{'LABEL_RESPONSAVEL' |i18n}} </th>
                                        <th class="text-center tb-width-10" *ngIf="iesRoute == true || iesRoute == 'true'"> {{'LABEL_UF_CHAPA' |i18n}}
                                        </th>
                                        <th class="text-center tb-width-10">
                                            <div [innerHTML]="getLabelStatusDaChapa()"></div>
                                        </th>
                                        <th class="text-center tb-width-10">
                                            <div [innerHTML]="getLabelMembrosComPendencia()"></div>
                                        </th>
                                        <th class="text-center tb-width-10">
                                            <div [innerHTML]="getLabelPedidosCadastrados()"></div>
                                        </th>
                                        <th class="text-center tb-width-10">
                                            <div [innerHTML]="getLabelStatusDoJulgamento()"></div>
                                        </th>
                                        <th class="text-center tb-width-10"> {{'LABEL_ACAO' |i18n}} </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let pedido of mf.data;" class="td-cauf list-item list-item-card">

                                        <td class="text-center p-3 tb-width-10">
                                            {{pedido.numeroChapa || "-"}}
                                        </td>
                                        <td class="text-center p-3 tb-width-10">
                                            <ul>
                                                <li class="no-decoration"
                                                    *ngFor="let responsavel of pedido.responsaveis">
                                                    {{responsavel.nome}}
                                                </li>
                                            </ul>
                                        </td>
                                        <td class="text-center p-3 tb-width-10" *ngIf="iesRoute && isCandidaturaIES(pedido)">
                                            {{pedido.uf}}
                                        </td>
                                        <td class="text-center p-3 tb-width-10">
                                            <div class="progress" style="min-width: 80px;">
                                                <div class="progress-bar"
                                                    role="progressbar"
                                                    style="width: 100%; border-radius: 50px;"
                                                    aria-valuenow="25"
                                                    aria-valuemin="0"
                                                    aria-valuemax="100"
                                                    [ngClass]="getClassStatusChapa(pedido.statusChapaVigente.id)">
                                                    {{pedido.statusChapaVigente.descricao}}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center tb-width-10">
                                            <div class="flex-column-membros"
                                                [ngClass]="getClassStatusMembros(pedido.quantidadeMembrosComPendencia)">
                                                <div
                                                    style="font-size: 16px;"
                                                    class="pr-2"
                                                    *ngIf="pedido.quantidadeMembrosComPendencia"
                                                >
                                                    {{pedido.quantidadeMembrosComPendencia}}
                                                </div>
                                                <i style="font-size: 24px;" class="fa fa-user" aria-hidden="true"></i>
                                            </div>
                                        </td>
                                        <td class="text-center p-3 tb-width-10">
                                            <div class="link" (click)="redirecionaPendencias(pedido.id)">{{'TITLE_VISUALIZAR' | i18n}}</div>
                                        </td>

                                        <td class="text-center tb-width-10 p-3">
                                          <div class="progress status-julgamento">
                                            <div class="progress-bar progress-julgamento"
                                                 [ngClass]="getClassStatusJuglamento(pedido.statusChapaJulgamentoFinal.id)">
                                              {{ pedido.statusChapaJulgamentoFinal.descricao }}
                                            </div>
                                          </div>
                                        </td>

                                        <td class="text-center p-3 tb-width-10">
                                            <div class="btn-group" dropdown triggers="hover" (mouseleave)="dp.hide()"
                                                #dp="bs-dropdown">
                                                <button dropdownToggle type="button" class="btn btn-link text-muted"
                                                    aria-controls="dropdown-basic">
                                                    <i class="align-middle colorAcao fas fa-ellipsis-v"
                                                        aria-hidden="true"></i>
                                                </button>
                                                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                                    aria-labelledby="button-basic">
                                                    <li role="menuitem">
                                                        <a (click)="getRotaDetalhamento(pedido.id)"
                                                            class="dropdown-item">
                                                            {{'LABEL_ACAO_DETALHAR' | i18n}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="9" class="col-12 pr-0" *ngIf="pedidos.length > 0">

                                            <div class="mt-3 col-md-12 pr-0 mr-0">
                                                <app-mfBootstrapPaginator [mfTable]="mf" class="float-right">
                                                </app-mfBootstrapPaginator>
                                            </div>

                                        </td>
                                        <td colspan="9" class="col-12" *ngIf="pedidos.length == 0">
                                            <div class="text-center mt-4 mb-4">
                                                {{'LABEL_NENHUM_REGISTRO_ENCONTRADO' |i18n}}
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>