<div class="header">
  <h1 class="header-title">
      <i class="fa fa-wpforms" style="margin-right: 10px; font-size: 30px" aria-hidden="true"></i>
      {{ 'LABEL_PUBLICAR_DOCUMENTOS' | i18n }}
  </h1>
</div>

<div class="container-grid">
  <div class="row">
      <div class="col-md-9 col-sm-9">
          <div class="card card-box-shadow">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-12">
                          <div class="card-body">

                              <div class="mt-2 mb-2 row">
                                  <div class="col-md-8 div-left div-font-weight mt-3">
                                      <b class="colorGray">{{ 'LABEL_RESULTADO_PESQUISA' | i18n }}</b>
                                  </div>

                                  <div class="col-md-4 div-right mt-3">
                                      <input type="text" class="form-control largura-campo" [(ngModel)]="search"
                                          placeholder="{{ 'LABEL_BUSCAR' | i18n }}"
                                          (ngModelChange)="filtroGrid($event)" maxlength="50">
                                  </div>
                              </div>


                              <table class="table table-striped" [mfData]="calendariosExibicao"
                                  #mf="mfDataTable" [mfRowsOnPage]="numeroRegistrosPaginacao"
                                  *ngIf="calendariosExibicao && !exibirMsgFiltroVazio">
                                  <thead>
                                      <tr>
                                          <th class="text-center tb-width-10">
                                              <mfDefaultSorter by="ano">
                                                  {{ 'LABEL_ANO' | i18n }}
                                              </mfDefaultSorter>
                                          </th>
                                          <th class="text-center tb-width-20">
                                              <mfDefaultSorter by="descricaoEleicao">
                                                  {{ 'LABEL_ELEICAO' | i18n }}
                                              </mfDefaultSorter>
                                          </th>
                                          <th class="text-center tb-width-20">
                                              <mfDefaultSorter by="descricaoTipoProcesso">
                                                  {{ 'LABEL_TIPO_PROCESSO' | i18n }}
                                              </mfDefaultSorter>
                                          </th>
                                          <th class="text-center tb-width-30">
                                              {{ 'LABEL_RESOLUCAO' | i18n }}
                                          </th>
                                          <th class="text-center tb-width-30">
                                              <mfDefaultSorter by="descricaoSituacao">
                                                  {{ 'LABEL_STATUS_ELEICAO' | i18n }}
                                              </mfDefaultSorter>
                                          </th>
                                          <th class="text-center tb-width-10">
                                              {{ 'LABEL_ACAO' | i18n }}
                                          </th>
                                      </tr>
                                  </thead>

                                  <tbody>
                                      <tr *ngFor="let calendario of mf.data;">
                                          <td class="text-center tb-width-10">
                                              {{ calendario.ano }}
                                          </td>
                                          <td class="text-center tb-width-10">
                                              {{ calendario.descricaoEleicao }}
                                          </td>
                                          <td class="text-center tb-width-20">
                                              {{ calendario.descricaoTipoProcesso }}
                                          </td>
                                          <td class="text-center tb-width-20">
                                              <download title="{{ calendario.resolucao }}"
                                                  class="center-no-arquivo"
                                                  [download]="calendario.resolucao"
                                                  (process)="downloadResolucao($event, calendario.idResolucao)">
                                                  <i class="fa fa-file-pdf-o pointer" aria-hidden="true"></i>
                                              </download>
                                          </td>
                                          <td class="text-center tb-width-20">

                                              <span class="text-center tb-width-30 colorTriangle"
                                                  *ngIf="calendario.idSituacao == 1">
                                                  <i class="align-middle fas fa-exclamation-triangle"></i>
                                                  {{ calendario.descricaoSituacao }}
                                              </span>

                                              <span class="text-center tb-width-30 colorCircle"
                                                  *ngIf="calendario.idSituacao == 2">
                                                  <i class="align-middle fas fa-check-circle"></i>
                                                  {{ calendario.descricaoSituacao }}
                                              </span>

                                              <span class="text-center tb-width-30 colorCircleM"
                                                  *ngIf="calendario.idSituacao == 3">
                                                  <i class="align-middle fas fa-minus-circle"></i>
                                                  {{ calendario.descricaoSituacao }}
                                              </span>

                                              <span class="text-center tb-width-30 colorCircleM"
                                                  *ngIf="calendario.idSituacao == undefined">
                                                  <i class="align-middle fas fa-minus-circle"></i>
                                                  {{ calendario.descricaoSituacao }}
                                              </span>

                                          </td>
                                          <td class="text-center tb-width-10">
                                              <div class="btn-group" dropdown triggers="mouseover"
                                                    (mouseleave)="dp.hide()" #dp="bs-dropdown">
                                                  <button dropdownToggle type="button" class="btn btn-link text-muted"
                                                      aria-controls="dropdown-basic">
                                                      <i class="align-middle colorAcao fas fa-ellipsis-v"
                                                          aria-hidden="true"></i>
                                                  </button>
                                                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                                      role="menu" aria-labelledby="button-basic">
                                                      <li role="menuitem">
                                                          <a href="#" class="dropdown-item"
                                                              title="{{'LABEL_PUBLICAR' |i18n}}"
                                                              [routerLink]="getUrlPublicarDocumento(calendario.id)">{{'LABEL_PUBLICAR' |i18n}}</a>
                                                      </li>
                                                  </ul>
                                              </div>
                                          </td>
                                      </tr>
                                  </tbody>

                                  <tfoot>
                                      <tr>
                                          <td colspan="7" class="col-12" *ngIf="getTotalRegistrosCalendario() > 0">
                                              <paginacao [paginaAtual]="mf.activePage"
                                                  [totalPorPagina]="numeroRegistrosPaginacao"
                                                  [totalRegistros]="getTotalRegistrosCalendario()">
                                              </paginacao>
                                          </td>
                                          <td colspan="7" class="col-12" *ngIf="mostrarMsgCalendariosInexistentes && getTotalRegistrosCalendario() == 0">
                                              <div class="text-center">
                                                  {{'MSG_NAO_POSSUI_CALENDARIO_CONCLUIDO' |i18n}}
                                              </div>
                                          </td>
                                          <td colspan="7" class="col-12" *ngIf="!mostrarMsgCalendariosInexistentes && getTotalRegistrosCalendario() == 0">
                                              <div class="text-center">
                                                  {{'LABEL_NENHUM_REGISTRO_ENCONTRADO' |i18n}}
                                              </div>
                                          </td>
                                      </tr>
                                  </tfoot>
                              </table>
                 
                                  <div  class="div-tabela-vazia" *ngIf="exibirMsgFiltroVazio" fxLayout="row" fxLayoutAlign="center start">
                                      <span class="tabela-vazio">{{ 'LABEL_TABLE_FILTRO_VAZIO' | i18n }}</span>
                                  </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-md-3" id='div-filtro'>
          <div class="card card-box-shadow p-3">
              <div class="row">
                  <div class="col-md-12">
                      <div class="header-filtro">
                          <i class="fas fa-filter" aria-hidden="true"></i>
                          <span class="h4">{{ 'LABEL_FILTROS' | i18n }}</span>
                      </div>
                  </div>
              </div>

              <div class="row action-filtro">
                  <div class="col-sm">
                      <a class="remove-link" href="#" (click)="limpar($event)" title="{{'LABEL_LIMPAR' |i18n}}">
                          <i class="fas fa-bars" aria-hidden="true"></i>
                          <span>{{ 'LABEL_LIMPAR' | i18n }}</span>
                      </a>
                  </div>
              </div>

              <div class="row mt-3">
                  <div class="col-12">
                      <label>{{ 'LABEL_ANO_ELEICAO' | i18n }}</label>
                      <ng-multiselect-dropdown placeholder="{{'LABEL_SELECIONAR' | i18n }}" [data]="anosEleicao"
                          [(ngModel)]="filtro.anos" [settings]="configuracaoDropdownAnoEleicao"
                          (onSelect)="selecaoAnoEleicao()" (onSelectAll)="selecaoTodosAnosEleicao()"
                          (onDeSelect)="deselecionarAnoEleicao($event)"
                          (onDeSelectAll)="deselecionarTodosAnoEleicao()" title="{{ 'MSG_HINT_ANO_ELEICAO' | i18n }}">
                      </ng-multiselect-dropdown>
                  </div>
              </div>

              <div class="row mt-3">
                  <div class="col-12">
                      <label>{{'LABEL_SELECT_ELEICAO' |i18n}}</label>
                      <ng-multiselect-dropdown placeholder="{{ 'LABEL_SELECIONAR' | i18n }}"
                          [data]="calendariosAnoSelecionado" [(ngModel)]="filtro.eleicoes"
                          [settings]="configuracaoDropdownEleicao" title="{{ 'LABEL_SELECT_ELEICAO' | i18n }}"
                          [disabled]="isFiltroEleicaoDesabilitado()">
                      </ng-multiselect-dropdown>
                  </div>
              </div>

              <div class="row mt-3">
                  <div class="col-12">
                      <label>{{ 'LABEL_TIPO_PROCESSO' | i18n }}</label>
                      <ng-multiselect-dropdown placeholder="{{ 'LABEL_SELECIONAR' | i18n }}" [data]="tipoProcessos"
                          [(ngModel)]="filtro.idTipoProcesso" [settings]="configuracaoDropdownTipoProcesso"
                          title="{{ 'LABEL_TIPO_PROCESSO' | i18n }}">
                      </ng-multiselect-dropdown>
                  </div>
              </div>

              <div class="row mt-3">
                  <div class="col-12 text-center">
                      <button type="button" class="btn btn-primary btn-calendario my-3" (click)="pesquisar()"
                          title=" {{'LABEL_PESQUISAR' |i18n}}">
                          {{'LABEL_PESQUISAR' |i18n}}
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
