<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="nav-item pointer">
                <a class="nav-link no-wrap-title-aba" [ngClass]="{ 'active':false}" (click)="voltarTelaInicio()">
                    {{'LABEL_VISAO_GERAL' | i18n}}
                </a>
            </li>
            <li class="nav-item pointer text-center">
                <a class="nav-link wrap-title-aba" (click)="mudarAbaSelecionada(tabs.impugncao.id)"
                    [ngClass]="{ 'active': tabs.impugncao.ativo }">
                    <div class="aba" [innerHTML]="getTituloAbaImpugnacao()"></div>
                </a>
            </li>
            <li *ngIf="isAbaAlegacao()" class="nav-item pointer">
                <a class="nav-link no-wrap-title-aba" (click)="mudarAbaSelecionada(tabs.alegacao.id)"
                    [ngClass]="{ 'active': tabs.alegacao.ativo }">
                    <div class="aba" [innerHTML]="getTituloAbaAlegacao()"></div>
                </a>
            </li>
            <li class="nav-item pointer" *ngIf="hasJulgamento()">
                <a class="nav-link wrap-title-aba" (click)="mudarAbaSelecionada(tabs.julgamento.id)"
                    [ngClass]="{ 'active': tabs.julgamento.ativo }">
                    <div class="aba" [innerHTML]="getTituloAbaJulgamentoPrimeiraInstancia()"></div>
                </a>
            </li>
            <li class="nav-item pointer" *ngIf="hasRecursoJulgamentoImpugnante()">
                <a class="nav-link wrap-title-aba" [ngClass]="{ 'active': tabs.recursoImpugnante.ativo }"
                    (click)="mudarAbaSelecionada(tabs.recursoImpugnante.id)">
                    <div class="aba" [innerHTML]="getTituloAbaRecursoJulgamentoImpugnante()"></div>
                </a>
            </li>
            <li class="nav-item pointer" *ngIf="hasRecursoJulgamentoImpugnado()">
                <a class="nav-link wrap-title-aba" [ngClass]="{ 'active': tabs.recursoImpugnado.ativo }"
                    (click)="mudarAbaSelecionada(tabs.recursoImpugnado.id)">
                    <div class="aba" [innerHTML]="getTituloAbaRecursoJulgamentoImpugnado()"></div>
                </a>
            </li>
            <li class="nav-item pointer" *ngIf="isAbaJulgamentoSegunda()">
                <a class="nav-link wrap-title-aba" [ngClass]="{ 'active': tabs.julgamentoSegunda.ativo }"
                    (click)="mudarAbaSelecionada(tabs.julgamentoSegunda.id)">
                    <div class="aba" [innerHTML]="getTituloAbaJulgamentoSegundaInstancia()"></div>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade card rounded-0" [ngClass]="{ 'active show':true}">
                <div class="col-md-12">
                    <i class="fa fa-desktop fa-2x m-2 pointer" aria-hidden="true" (click)="sair()"></i>
                </div>
                <div class="box-separador bg-primary"></div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="p-0 mt-1">
        <div class="row mt-3">
            <div class="col-md-2">
                <button type="button" class="btn btn-link p-0" (click)="sair()">
                    <h5 class="m-0 ml-4"><i class="fa fa-reply text-primary" title="{{'LABEL_VOLTAR' | i18n}}"></i></h5>
                </button>
            </div>
            <div class="col-md-8">
                <div 
                    class="text-center title-comissao green-font-bolder mb-3">
                    <img class="img-fluid rounded-circle img-bandeira" [src]="imagemBandeira.imagem">
                    {{ imagemBandeira.sigla}}
                </div>
            </div>
        </div>
        <div class="tab-pane fade rounded-0" *ngIf="tabs.impugncao.ativo"
            [ngClass]="{ 'active show': tabs.impugncao.ativo }">
            <aba-visualizar-impugnacao [cauUf]="cauUf" [impugnacao]="impugnacao" [tipoProfissional]="tipoProfissional"
                (isCadastrado)="redirecionaAposCadastro()" [validacaoAlegacaoData]="validacaoAlegacaoData">
            </aba-visualizar-impugnacao>
        </div>
        <div class="tab-pane fade rounded-0" *ngIf="tabs.alegacao.ativo"
            [ngClass]="{ 'active show': tabs.alegacao.ativo }">
            <aba-visualizar-alegacao [alegacoes]="alegacao" [impugnacao]="impugnacao"
                [validacaoAlegacaoData]="validacaoAlegacaoData">
            </aba-visualizar-alegacao>
        </div>
        <!-- ABA JULGAMENTO -->
        <div class="tab-pane fade" [ngClass]="{ 'active show':tabs.julgamento.ativo}" *ngIf="tabs.julgamento.ativo">
            <aba-julgamento-impugnacao-resultado [julgamento]="julgamento"
                [validacaoAlegacaoData]="validacaoAlegacaoData"
                (isRecursoCadastrado)="redirecionaAposCadastroRecurso($event)">
            </aba-julgamento-impugnacao-resultado>
        </div>
        <!-- ABA RECURSO DO JULGAMENTO IMPUGNADO -->
        <div class="tab-pane fade" [ngClass]="{ 'active show':tabs.recursoImpugnado.ativo}"
            *ngIf="tabs.recursoImpugnado.ativo">
            <aba-recurso-julgamento-impugnado [bandeira]="imagemBandeira" [recursos]="recursosImpugnado"
                [impugnacao]="impugnacao" [validacaoAlegacaoData]="validacaoAlegacaoData" (mudarAba)="mudarAbaSelecionada($event, true)" (voltarAba)="mudarAbaSelecionada($event)">
            </aba-recurso-julgamento-impugnado>
        </div>
         <!-- ABA RECURSO DO JULGAMENTO IMPUGNANTE -->
         <div class="tab-pane fade" [ngClass]="{ 'active show':tabs.recursoImpugnante.ativo}"
         *ngIf="tabs.recursoImpugnante.ativo">
            <aba-recurso-julgamento-impugnante 
                [bandeira]="imagemBandeira" 
                [recurso]="dadosRecursoImpugnante"
                [impugnacao]="impugnacao" 
                [validacaoAlegacaoData]="validacaoAlegacaoData" 
                (mudarAba)="mudarAbaSelecionada($event, true)" 
                (voltarAba)="mudarAbaSelecionada($event)">
            </aba-recurso-julgamento-impugnante>
        </div>
        <!-- ABA RECURSO DO JULGAMENTO SEGUNDA INSTANCIA -->
        <div class="tab-pane fade" [ngClass]="{ 'active show':tabs.julgamentoSegunda.ativo}"
        *ngIf="tabs.julgamentoSegunda.ativo">
        <aba-julgamento-impug-resultado-segunda-instancia
          [bandeira]="imagemBandeira"
          [julgamentoSegunda]="julgamentoSegunda"
          [impugnacao]="impugnacao"
          (voltarAba)="mudarAbaSelecionada($event)">
        </aba-julgamento-impug-resultado-segunda-instancia>
    </div>
</div>