$primary:      #104240;
.green-font-bold {    
    color: $primary;
    font-weight: bold;
}

.white-font-bold {
    color: white;
    font-weight: bold;
}

.msgNaoExisteDefesa{
    padding-top: 11rem !important;
    height: 22rem;
    font-weight: bolder;
    font-size: 1.4rem;
}

.margin {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
}