#tabela-publicacoes td, th{
    border: 1px solid #ced4da;
}

#tabela-publicacoes tfoot td, th{
    border: 0px solid #ced4da;
}

.negrito{
    text-shadow: 0px 0px, 0px 0px, 0px 0px;
    font-weight: bolder;
}

.colorCircle {
    color: #14385D;
  }

  .colorTriangle {
    color: #FF532B;
  }

  .colorCircleM {
    color: #E82326;
  }

  .colorGray {
    color: #909090;
  }
