$primary:      #14385D;
.colorCircle {
    background-color: #14385D;
  }

  .colorTriangle {
    color: #FF532B;
  }

  .colorCircleM {
    color: #E82326;
  }

  .colorGray {
    color: #909090;
  }

  .coloPrimary {
    color: $primary;
}