  .text-icon-atividade {
    cursor: pointer;
    color: #343a40 !important;
    margin-left: 6px;
    margin-top: 10px;
  }

  .switch-atividade {
    cursor: pointer;
    color: darkred !important;
    margin-left: 6px;
    margin-top: 10px;
  }