.altura-minima {
    min-height: 20px;
}

.icon-action {
    padding-right: 0px;
    font-size: 11px;
}
.table-parecer {
    font-size: 12px;    
}

.btn-xs {
    padding: 1px 1px 5px 5px !important;
}