.colorCircle {
    color: #016C71;
}

.colorTriangle {
    color: #FF532B;
}

.colorCircleM {
    color: #bb0e1e;
}

.colorGray {
    color: #909090;
}

.icon-in-input {
    float: right;
    margin-right: 6px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
    color: #006871;
}

.text-primary {
    color: #14385D !important;
}

.card-list {
    border: 1px solid #14385D !important;
}

.btn-primary {
    color: #fff;
    background-color: #14385d !important;
    border-color: #14385d !important;
}

.btn-outline-primary {
    color: #14385d;
    background-color: #ffffff !important;
    border-color: #14385d !important;
}