<div class="tab-content">
    <div class="tab-pane active show fade rounded-0">
        <div class="tab-pane fade pb-1" [ngClass]="{ 'active show': true}">
                <div class="col-md-2">
                    <button type="button" class="btn btn-link p-0" (click)="voltarAbaPrincipal()" style="margin-top: 5px;">
                        <h5 class="m-0"><i class="fa fa-reply text-primary"
                            title="{{'LABEL_VOLTAR' | i18n}}"></i></h5>
                    </button>
                </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8 mt-4">
                    <div class="subtitle-line">
                        <span
                            class="bg-white">{{'TITLE_RECURSO_RECONSIDERACAO_JULGAMENTO_FINAL' | i18n:recursoReconsideracao}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="hasRecurso">
    <div class="col-md-12">
        <div class="tab-pane active show fade card rounded-0">
            <!-- Label da Chapa -->
            <div class="row pl-3 mt-3">
                <div class="col-5">
                    <span class="texto-titulo"><b>{{ 'LABEL_UF' | i18n }} </b></span> {{chapa.uf}}<br>
                    <span class="texto-titulo"><b>{{ 'LABEL_N_CHAPA' | i18n }}</b></span> {{chapa.numeroChapa || 'N/A'}}<br>
                    <span class="texto-titulo"><b>{{ 'LABEL_DATA_HORA_CADASTRO' | i18n }}: </b></span> {{recurso.dataCadastro | date:'dd/MM/yyyy HH:mm' : '+0'}}
                </div>
            </div>
            <div class="tab-pane fade card rounded-0 pl-3 pr-3 pb-2" [ngClass]="{ 'active show':true}">
                <div class="card border pl-4 pr-4 pb-4 pt-4" style="border-radius: 8px mb-5;margin-top: 10px;">
                    <!-- Membros Indicados para Substituição -->
                    <card-panel [titulo]="getTituloMembro()" class="mb-4">
                        <card-julgamento-final
                            *ngIf="!(isJulgamentoIndeferido() && (!recurso.indicacoes || !recurso.indicacoes[0])); else semIndicacaoMembro"
                            [temExcluir]="false"
                            [membrosSelecionados]="recurso.indicacoes">
                        </card-julgamento-final>
                        <ng-template #semIndicacaoMembro>
                            <div class="tab-pane fade rounded-0 pl-4 pr-4 pb-2" [ngClass]="{ 'active show':true}">
                                <div class="mt-3">
                                    <div class="alert border bg-white shadow margin">
                                        <div fxLayout="row" fxLayoutAlign="center center">
                                            <b class="mt-4 mb-4" *ngIf="!isIes">{{'MSG_NAO_HA_MEMBROS_INDICADOS_RECURSO' | i18n }}</b>
                                            <b class="mt-4 mb-4" *ngIf="isIes">{{'MSG_NAO_HA_MEMBROS_INDICADOS_RECONSIDERACAO' | i18n }}</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </card-panel>
                    <!-- Parecer -->
                    <card-panel [titulo]="getTituloEditor()">
                        <editor-de-texto
                            [isHabilitado]="false"
                            [valor]="recurso.descricao"
                            [isMostrarTamanhoTextoRestantes]="false">
                        </editor-de-texto>
                    </card-panel>
                    <!-- Documento -->
                    <card-panel [titulo]="'LABEL_DOCUMENTO'" class="mt-4">
                        <div class="col-md-4 p-0">
                            <arquivo
                                [hasDownload]="true"
                                [isHabilitado]="false"
                                [arquivos]="recurso.arquivos"
                                (download)="download($event)">
                            </arquivo>
                        </div>
                        <div class="col-md-4 col-xs-12" *ngIf="!recurso.arquivos || !recurso.arquivos[0]">
                            <table class="table table-sm">
                                <tbody>
                                    <td class="text-left pr-3 mt-3">
                                        <span>{{ 'LABEL_NAO_APLICADO' | i18n }}</span>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                    </card-panel>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sem o Recurso -->
<div class="row conteudo" *ngIf="!hasRecurso">
    <form #form="ngForm" class="w-100" id="aba-defesa-impugnacao-form-id">
        <div class="col-md-12">
            <div class="tab-pane fade rounded-0 pl-4 pr-4 pb-2" [ngClass]="{ 'active show':true}">
                <div class="card border pl-4 pr-4 pb-4 pt-4 mt-5 mb-4" style="border-radius: 8px mb-5">
                    <div class="alert border bg-green shadow margin">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <b class="mt-4 mb-4">{{'MSG_NAO_HOUVE_INTERPOSICAO' | i18n:recursoReconsideracao}}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>