<!-- Com o Recurso -->
<div class="row conteudo" *ngIf="hasRecurso">
    <form #form="ngForm" class="w-100" id="aba-defesa-impugnacao-form-id">
        <div class="tab-pane fade pl-3 pr-3 pb-5 mt-3" id="tab-pane-julgamento" [ngClass]="{ 'active show': true}">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8 mt-2">
                    <div class="subtitle-line">
                        <span class="bg-white">{{'TITLE_INTEPOR_RECURSO_RECONSIDERACAO_PEDIDO_IMPUGNACAO' | i18n:title() }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="tab-pane fade card rounded-0 pl-4 pr-4 pb-2" [ngClass]="{ 'active show':true}">
                <div class="card border pl-3 pr-3 pb-3 pt-3" style="border-radius: 8px mb-5"> 

                    <card-panel [titulo]="labelDescricao()" class="mt-3">
                        <editor-de-texto
                            [isHabilitado]="false"
                            [configuracao]="configuracaoCkeditor"
                            [valor]="recursoResponsavel.descricao"
                            [isMostrarTamanhoTextoRestantes]="false">
                        </editor-de-texto>
                    </card-panel>

                    <card-panel [titulo]="'LABEL_DOCUMENTO'" class="mt-3">
                        <arquivo 
                            [hasDownload]="true"
                            [arquivos]="recursoResponsavel.arquivos" 
                            (download)="downloadArquivo($event, recursoResponsavel.id)">
                        </arquivo>
                        <div class="col-md-4 col-xs-12" *ngIf="!recursoResponsavel.arquivos">
                            <table class="table table-sm">
                                <tbody>
                                    <td class="text-left pr-3 mt-3">
                                        <span>{{ 'LABEL_NAO_APLICADO' | i18n }}</span>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                    </card-panel>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Sem o Recurso -->
<div class="row conteudo" *ngIf="!hasRecurso">
    <form #form="ngForm" class="w-100">
        <div class="col-md-12">
            <div class="tab-pane fade card rounded-0 pl-4 pr-4 pb-2" [ngClass]="{ 'active show':true}">
                <div class="card border pl-4 pr-4 pb-4 pt-4 mt-5 mb-4" style="border-radius: 8px mb-5"> 
                    <div class="alert border bg-green shadow margin">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <b *ngIf="!isIes" class="mt-4 mb-4">{{'MSG_NAO_HOUVE_INTERPOSICAO_RECURSO' | i18n}}</b>
                            <b *ngIf="isIes"  class="mt-4 mb-4">{{'MSG_NAO_HOUVE_INTERPOSICAO_RECONSIDERACAO' | i18n}}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- RECURSO E CONTRARRAZÃO -->
<div class="row" *ngIf="isMostrarRecurso()">
    <div class="col-md-12">
        <accordion>
            <div class="card-body custom-card-body">
                <accordion-group panelClass="customClass" >
                    <button class="btn btn-block clearfix accordionPrimay"
                            accordion-heading type="button">
                        <div class="pull-left float-left">{{ 'LABEL_RECURSO_RECONSIDERACAO_DO_IMPUGNANTE' | i18n:title() }}</div>
                        <span class="float-right pull-right" style="color: white;">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </span>
                    </button>
                    <div class="col-md-12 mb-2 mt-1 label-dados">
                        <span>{{ 'LABEL_RESPONSAVEL_IMPUGNANTE' | i18n }}: {{recursoImpugnante.profissional.nome }}</span>
                    </div>
                    <div class="col-md-12 label-dados">
                        <span>{{ 'LABEL_DATA' | i18n }}: {{recursoImpugnante.dataCadastro | date:'dd/MM/yyyy'}}</span>
                    </div>
                    <div class="col-md-12 mt-4" style="padding: 2;">
                        <div class="card">
                            <span class="card-header bg-primary">
                                {{ 'TITLE_RECURSO_RECONSIDERACAO_IMPUGNACAO_PRIMEIRA_INSTANCIA' | i18n:title() }}
                            </span>
                            <div class="custom-card-body bg-green">
                                <editor-de-texto
                                    [isHabilitado]="false"
                                    [valor]="recursoImpugnante.descricao"
                                    [configuracao]="configuracaoCkeditor">
                                </editor-de-texto>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-4" style="padding: 2;">
                        <div class="card">
                            <span class="card-header bg-primary">
                                {{ 'LABEL_DOCUMENTO' | i18n }}
                            </span>
                            <div class="custom-card-body bg-green">
                                <arquivo
                                    [arquivos]="recursoImpugnante.arquivos"
                                    (download)="downloadArquivo($event, recursoImpugnante.id)"
                                    [hasDownload]="true">
                                </arquivo>
                                <div class="col-md-4 col-xs-12" *ngIf="!recursoImpugnante.arquivos">
                                    <table class="table table-sm">
                                        <tbody>
                                            <td class="text-left pr-3 mt-3">
                                                <span>{{ 'LABEL_NAO_APLICADO' | i18n }}</span>
                                            </td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </accordion-group>
                <accordion-group panelClass="customClass" *ngIf="isMostrarContrarrazao()">
                    <button class="btn btn-block clearfix accordionPrimay"
                        accordion-heading type="button">
                        <div class="pull-left float-left">{{ 'LABEL_CONTRARRAZAO' | i18n }}</div>
                        <span class="float-right pull-right" style="color: white;">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </span>
                    </button>
                    <div *ngIf="!isMostrarMsgContrarrazao()">
                        <div class="col-md-12 mb-2 mt-1 label-dados">
                            <span>{{ 'LABEL_RESPONSAVEL_DA_CHAPA' | i18n }}: {{recursoImpugnante.contrarrazaoRecursoImpugnacao.profissional.nome }}</span>
                        </div>
                        <div class="col-md-12 label-dados">
                            <span>{{ 'LABEL_DATA' | i18n }}: {{recursoImpugnante.contrarrazaoRecursoImpugnacao.dataCadastro | date:'dd/MM/yyyy'}}</span>
                        </div>
                        <div class="col-md-12 mt-4" style="padding: 2;">
                            <div class="card">
                                <span class="card-header bg-primary">
                                    {{ 'LABEL_CONTRARRAZAO_RECURSO_RECONSIDERACAO' | i18n:title2() }}
                                </span>
                                <div class="custom-card-body bg-green">
                                    <editor-de-texto
                                        [isHabilitado]="false"
                                        [valor]="recursoImpugnante.contrarrazaoRecursoImpugnacao.descricao"
                                        [configuracao]="configuracaoCkeditor">
                                    </editor-de-texto>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mt-4" style="padding: 2;">
                            <div class="card">
                                <span class="card-header bg-primary">
                                    {{ 'LABEL_DOCUMENTO' | i18n }}
                                </span>
                                <div class="custom-card-body bg-green">
                                    <arquivo
                                        [arquivos]="recursoImpugnante.contrarrazaoRecursoImpugnacao.arquivos"
                                        (download)="downloadArquivoContrarrazao($event)"
                                        [hasDownload]="true">
                                    </arquivo>
                                    <div class="col-md-4 col-xs-12" *ngIf="!recursoImpugnante.contrarrazaoRecursoImpugnacao.arquivos">
                                        <table class="table table-sm">
                                            <tbody>
                                                <td class="text-left pr-3 mt-3">
                                                    <span>{{ 'LABEL_NAO_APLICADO' | i18n }}</span>
                                                </td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row conteudo" *ngIf="isMostrarMsgContrarrazao()">
                        <form #form="ngForm" class="w-100">
                            <div class="col-md-12">
                                <div class="tab-pane fade card rounded-0 pl-4 pr-4 pb-2" [ngClass]="{ 'active show':true}">
                                    <div class="card border pl-4 pr-4 pb-4 pt-4 mt-5 mb-4" style="border-radius: 8px mb-5"> 
                                        <div class="alert border bg-green shadow margin">
                                            <div fxLayout="row" fxLayoutAlign="center center">
                                                <b class="mt-4 mb-4">{{'MGS_N_HOUVE_CONTRARRAZAO_CADASTRADA' | i18n}}</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </accordion-group>
            </div>
        </accordion>
    </div>
</div>