<div class="row">
    <div class="col-md-12">
        <div class="card-body bg-green pl-3 pr-3" style="border-radius: 8px;">
            <div class="row pt-3 pb-3">
                <div class="col-md-6 align-items-right form-inline green-font-bolder">
                    <div>
                        <span><b class="font-color-bg-primary">{{ 'LABEL_MOSTRAR' | i18n }}: &nbsp;</b> </span>
                        <select class="form-control" [(ngModel)]="limitePaginacao" [name]="limitePaginacao">
                            <option *ngFor="let item of limitesPaginacao" [ngValue]="item">
                                {{ item }}
                            </option>
                        </select>
                        <span> &nbsp; <b class="font-color-bg-primary">{{ 'LABEL_REGISTRO' | i18n}}</b></span>
                    </div>
                </div>
            </div>
            <table
                [mfData]="membrosChapa" 
                #mf="mfDataTable" 
                *ngIf="membrosChapa"
                [mfRowsOnPage]="limitePaginacao"
                class="w-100"
            >
                <div fxLayout="row" fxFlexFill>
                    <div fxFlex class="font-color-bg-primary">
                        <div fxLayout="row">
                            <div fxFlex="5%" class="text-center"><strong
                                class="label-subtitle">{{ 'LABEL_N' | i18n }}</strong>
                            </div>
                            <div fxFlex="10%" class="text-center"><strong
                                class="label-subtitle">{{ 'LABEL_TIPO_PARTICIPACAO' | i18n }}</strong>
                            </div>
                            <div fxFlex class="text-center"><strong
                                class="label-subtitle">{{ 'LABEL_NOME' | i18n }}</strong>
                            </div>
                            <div fxFlex class="text-center">
                                <strong class="label-subtitle">{{ 'LABEL_REGISTRO' | i18n }}</strong>
                            </div>
                            <div fxFlex="20%" class="text-center"><strong
                                class="label-subtitle">{{ 'LABEL_STATUS_CONFIRMACAO' | i18n }}</strong>
                            </div>
                            <div fxFlex="13%" class="text-center"><strong
                                class="label-subtitle">{{ 'LABEL_STATUS_VALIDACAO' | i18n }}</strong>
                            </div>
                            <div fxFlex="10%" class="text-center"><strong
                                class="label-subtitle">{{ 'LABEL_RESPONSAVEL' | i18n }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngFor="let membro of mf.data;">
                    <membros-chapa 
                        [membros]="membro"
                        [isMostraCheckVazio]="true"
                    >
                    </membros-chapa>
                </div>
                <div class="col-12" *ngIf="membrosChapa.length > 0">
                    <div class="mt-3 col-md-12 pr-0 mr-0">
                        <app-mfBootstrapPaginator [mfTable]="mf" class="float-right"></app-mfBootstrapPaginator>
                    </div>
                </div>
            </table> 
        </div>
    </div>
</div>