.ajuste-icone {
    display: flex;
    font-size: 18px;
}
.btn-center {
    align-items: center;
    justify-content: center;
}
.p-btn-testemunhas {
    padding: 1px 3px 0;
}

.pt-6 {
    padding-top: 0.8em;
}