.remove-link {
    color: #888888;
    text-decoration: none !important;
    cursor: pointer;
  }

  .remove-link:hover {
    color: #767676;
    text-decoration: none !important;
  }

.colorCircle {
    color: #14385D;
}

.colorTriangle {
    color: #FF532B;
}

.colorCircleM {
    color: #bb0e1e;
}

.colorGray {
    color: #909090;
}