@import "~bootstrap/scss/functions";
@import "~@cau/layout/variables";
$primary:      #104240;

.texto-titulo {
    font-size: 0.8rem;
    font-weight: 700;
}

.box-profissional {
    font-size: 0.8rem;
    padding: 15px 10px;
    border-radius: 3px;
    background: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.cor-corpo {
    background-color: #f2f2f2;
}

.ribbon {
    padding: 5px;
    color: #ffffff;
    border-radius: 10px;
    font-size: 0.65rem;
    font-weight: bold;

    &.ribbon-primary {
        background-color: $primary;
    }

    &.ribbon-warning {
        background-color: $warning;
    }

    &.ribbon-danger {
        background-color: $danger;
    }
}

.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
    display: inline-block;  /* For IE11/ MS Edge bug */
    pointer-events: none;
    text-decoration: none;
}

.templateJustificarAlterarMembro .fa-bell{
    background-color: $primary;
    color: white;
    font-size: 0.95rem;
}

.text-link{
    word-wrap: normal;
    cursor: pointer; 
    text-decoration: underline;
}