<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="nav-item pointer">
                <a class="nav-link" [ngClass]="{ 'active': false}" [routerLink]="['/']">{{'LABEL_VISAO_GERAL' | i18n}}
                </a>
            </li>
            <li class="nav-item pointer">
                <a class="nav-link" [ngClass]="{ 'active':true }">
                    {{'LABEL_ACOMPANHAR_DENUNCIA' | i18n}}
                </a>
            </li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane fade card rounded-0" [ngClass]="{ 'active show':true}">
                <div class="col-md-12">
                    <button type="button" class="btn btn-link p-0" (click)="voltar()">
                        <h5 class="m-0"><i class="fa fa-arrow-left text-primary" title="{{'LABEL_VOLTAR' | i18n}}"></i>
                        </h5>
                    </button>
                    <button type="button" class="btn btn-link p-0" [routerLink]="['/']">
                        <h5 class="m-0">
                            <i class="fa fa-desktop fa-2x m-2 pointer colorGray" aria-hidden="true"></i>
                        </h5>
                    </button>
                </div>

                <div class="box-separador bg-primary"></div>
                <div class="tab-pane fade card rounded-0 pl-4 pr-4 pb-4" [ngClass]="{ 'active show':true}">

                    <div class="card border pl-5 pr-5 pb-5 pt-4" style="border-radius: 8px;">
                        <div class="card-body bg-green pl-5 pr-5" style="border-radius: 8px;">

                            <div class="row">
                                <div class="col-md-12">
                                    <table [mfData]="denunciasUF.agrupamentoUF" #mf="mfDataTable"
                                        *ngIf="denunciasUF.agrupamentoUF.lenght != 0" [mfRowsOnPage]="limitePaginacao"
                                        class="col-md-12">
                                        <thead>
                                            <tr class="green-font-bolder">
                                                <th class="text-center tb-width-10"> {{'LABEL_ESTADO' |i18n}}
                                                </th>
                                                <th class="text-center tb-width-10">
                                                    {{'LABEL_QUANTIDADE_PEDIDOS_DENUNCIA' |i18n}}
                                                </th>
                                                <th class="text-center tb-width-10"> {{'LABEL_ACAO' |i18n}} </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let denunciaUF of mf.data;"
                                                class="td-cauf list-item list-item-card">

                                                <td class="text-center p-2 tb-width-10">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div
                                                                class="text-center title-comissao green-font aling-l-ml">
                                                                <img class="img-fluid rounded-circle img-bandeira mr-1"
                                                                    src="{{ denunciaUF.imagemBandeira }}"
                                                                    alt="{{ denunciaUF.descricao }}"
                                                                    title="{{ denunciaUF.descricao }}">
                                                                {{ denunciaUF.descricao }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-center p-2 tb-width-10">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            {{ denunciaUF.qtd_pedido }}
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-center p-2 tb-width-10" (mouseleave)="dp.hide()">
                                                    <div class="btn-group" dropdown triggers="hover" #dp="bs-dropdown">
                                                        <button dropdownToggle type="button"
                                                            class="btn btn-link text-muted"
                                                            aria-controls="dropdown-basic">
                                                            <i class="align-middle colorAcao fas fa-ellipsis-v"
                                                                aria-hidden="true"></i>
                                                        </button>
                                                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                                            role="menu" aria-labelledby="button-basic">
                                                            <li role="menuitem">
                                                                <a href="#" (click)="visualizar(denunciaUF.id_cau_uf)"
                                                                    class="dropdown-item" [routerLink]="null"
                                                                    title="{{'LABEL_VISUALIZAR' | i18n}}">
                                                                    {{'LABEL_VISUALIZAR' | i18n}}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="7" class="col-12"
                                                    *ngIf="denunciasUF.agrupamentoUF.length > 0">
                                                </td>
                                                <td colspan="7" class="col-12"
                                                    *ngIf="denunciasUF.agrupamentoUF.length == 0">
                                                    <div class="text-center">
                                                        {{'LABEL_NENHUM_REGISTRO_ENCONTRADO' |i18n}}
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                    <div class="row pt-3 pb-3">
                                        <div class="col-md-6 align-items-right form-inline green-font-bolder">
                                            <div>
                                                <span>{{ 'LABEL_TOTAL_PEDIDOS_DENUNCIA' | i18n }}: </span>
                                                {{denunciasUF.totalPedidos}}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>