<div class="modal-header border-header-green">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <h6 class="modal-title pull-center">
            <span> 
                <b class="colorGray titulo">
                   {{'TITLE_CADASTRAR_ALEGACAO' | i18n}}
                </b> 
            </span>
        </h6>
    </div>
    <div class="col-md-2 align-items-right">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<!-- Corpo do Modal -->
<div class="modal-body">


    <div class="mb-3 mt-3">
        <card-panel [titulo]="'TITLE_NARRACAO_FATOS'" class="mt-3">
            <editor-de-texto
            [isRequerido]="true"
            [isHabilitado]="true"
            [tamanhoMaximo]="2000"
            [isSubmetido]="submitted"
            [valor]="alegacao.narracao"
            [isMostrarTamanhoTextoRestantes]="true"
            (valorChange)="adicionarDescricao($event)">
            </editor-de-texto>
        </card-panel>
    </div>

    <div class="mb-3">
        <card-panel [titulo]="'LABEL_DOCUMENTO'" class="mt-3">
            <arquivo 
                [maxArquivos]="1" 
                [hasUpload]="true"
                [tipoValidacao]="3"
                [hasDownload]="true"
                [hasExclusao]="true"
                [isHabilitado]="true"
                [msgHint]="getHintArquivo()"
                (salvarEvent)="salvarArquivos($event)" 
                [msgMaxArquivos]="'MSG_QTD_MAXIMA_UPLOAD_1'"
                (download)="downloadArquivo($event)">
            </arquivo>

        </card-panel>
    </div>

<div class="modal-footer">
    <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;" >
        <button class="btn btn-danger pull-left mr-2" type="button" (click)="cancelar()">
            {{'LABEL_CANCELAR' | i18n}}
        </button>
        <button class="btn btn-primary pull-left" type="button" (click)="salvar()">
            {{'LABEL_CADASTRAR' | i18n}}
        </button>
    </div>
</div>