.margin {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.title-grey {
    color: grey;
}
.card-header{
    color: white;
    margin: 0px !important;
    padding-left: 12px !important;
    padding-right: 7px !important;
    padding-bottom: 7px !important;
    padding-top: 7px !important;
}
.custom-card-body{
    padding: 20px !important;
}
.label-dados{
    padding: 2;
    color: #14385D;
}