.grey-font-bolder {
    text-shadow: 0px 0px, 0px 0px, 0px 0px;
    font-weight: bolder;
    color: #878787;
}
.green-font-bolder {
    text-shadow: 0px 0px, 0px 0px, 0px 0px;
    font-weight: bolder;
    color: #14385D;
}