.texto-titulo {
    font-size: 0.8rem;
    font-weight: 700;
}

.box-profissional {
    font-size: 0.8rem;
    padding: 15px 10px;
    border-radius: 3px;
    background: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.cor-corpo {
    background-color: #f2f2f2;
}