.remove-link {
    color: #888888;
    text-decoration: none !important;
    cursor: pointer;
}

.remove-link:hover {
    color: #767676;
    text-decoration: none !important;
}

.color-concluido {
    background-color: #14385D;
}

.colorTriangle {
    color: #FF532B;
}

.colorCircleM {
    color: #E82326;
}

.colorGray {
    color: #909090;
}