<div class="modal-header border-header-green">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <h6 class="modal-title pull-center">{{'LABEL_INSERIR_ALEGACOES_FINAIS' |i18n}}</h6>
    </div>
    <div class="col-md-2 align-items-right">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div class="modal-body">
    <form #formAlegacaoFinal="ngForm">
        <div class="p-2">
            <strong>{{'LABEL_ALEGACOES_FINAIS' | i18n}}</strong>
            <form-valid [submitted]="submitted">
                <div class="alert bg-green border shadow">
                    <ckeditor id="dsAlegacaoFinal" required name="dsAlegacaoFinal"
                        [config]="configuracaoCkeditor" (ready)="onReadyCKDefesa($event)"
                        (change)="onChangeCKDescricao($event)" [(ngModel)]="alegacao.descricao"></ckeditor>
                    <input type="hidden" maxlength="2000" name="hideAlegacaoFinal"
                        #input_alegacao_final="ngModel" [(ngModel)]="alegacao.alegacaoFinalSimpleText"
                        required>
                    <span>{{ getContagemAlegacaoFinal() }}</span>
                </div>
            </form-valid>
        </div>

        <div class="p-2">
            <strong>{{'LABEL_DOCUMENTOS' | i18n}}</strong>
            <div class="alert bg-green border shadow">
                <div fxLayout="row">
                    <div fxFlex>
                        <label for="documento"><span>{{ 'LABEL_ARQUIVO' | i18n }}</span></label>
                        <upload id="documento" title="{{'LABEL_SELECIONAR_ARQUIVO' | i18n}}"
                            [name]="nomeArquivoAlegacaoFinal" [disabled]="isQuantidadeUploadMaxima()"
                            (process)="uploadDocumento($event)">
                            <i class="fa fa-file-o text-success" aria-hidden="true"></i>
                            <span>{{'LABEL_SELECIONAR_ARQUIVO' | i18n}}</span>
                        </upload>
                    </div>
                    <div fxFlex>
                        <i aria-hidden="true" class="fa fa-info-circle fa-2x pointer center-info-doc"
                            [title]="getHintInformativoDocumento()"></i>
                    </div>
                </div>
                <div class="lista-arquivos mt-2" fxLayout="row">
                    <table class="table table-sm" *ngIf="alegacao.arquivoAlegacaoFinal?.length > 0">
                        <tbody>
                            <tr *ngFor="let arquivo of alegacao.arquivoAlegacaoFinal let indiceArquivo = index">
                                <td class="text-center bnt-upload-excluir">
                                    <div>
                                        {{ arquivo.nome }}
                                    </div>
                                </td>
                                <td class="table-action text-center">
                                    <button type="button" class="btn" (click)="excluiUpload(indiceArquivo)">
                                        <i class="align-middle fas fa-fw fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div *ngIf="alegacao.relator">
            <div class="p-2">
                <strong>{{'LABEL_RESULTADO' | i18n}}</strong>
                <div class="alert bg-green m-0 border shadow">
                    <card-list [config]="alegacao.relator"></card-list>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer aling-left">
    <div class="row p-2 py-3">
        <div class="col-md-12 p-6 align-items-left">
            <button class="btn btn-danger mr-4" type="button"
                (click)="modalRef.hide()">{{'LABEL_CANCELAR' | i18n}}</button>
            <button class="btn btn-primary mr-4" type="button"
                (click)="concluir(formAlegacaoFinal)">{{'LABEL_CONCLUIR' | i18n}}</button>
        </div>
    </div>
</div>